[2020-05-15 08:41] mikerow opened #2773 "Add calls: wallet_wipe, wallet_send, wallet_weight"
With a likely new set of calls in future releases, I suggest adding 3 new calls:

- wallet_wipe: send all funds from every accounts of a wallet to a destination account
- wallet_send: send some funds from a wallet, source account selection is processed automatically, to a destination account
- wallet_weight: get the overall weight of a wallet and of every its accounts

I already implemented this c

[2020-05-26 18:18] zhyatt commented on #2166
As of V21 we plan to keep a bandwidth limit in place by default. If unlimited bandwidth was the default configuration, it would put additional risk of increased bandwidth costs on node operators who aren’t actively updating their bandwidth settings downward. By putting a lower bandwidth setting in place the potential throughput is lowered, and so we are trading off some throughput capabilities to

[2020-05-29 13:59] Inkeliz commented on #463
You can use the "Representative" field for that, it's 32-byte. It's not an data-field, but you can use as one. (:

[2020-06-03 14:16] jserv opened #2798 "Clarify copyright ownership"
The repositories such as [nano-pow](https://github.com/nanocurrency/nano-pow) and [nano-pow-server](https://github.com/nanocurrency/nano-pow-server) specify Nano (Foundation) as the copyright owner. However, since there are 50+ contributors in `nano-node` repository, it would be non-trivial to clarify the copyright ownership.

[2020-06-04 14:12] besoeasy commented on #2773
change terminology

wipe -> sweep

[2020-06-04 14:15] besoeasy commented on #2798
yes exactly the thing i was wondering !

[2020-06-11 20:35] koczadly opened #2806 "Suggestion: Account redirects"
# Proposal
After a some thought, I believe it would be beneficial to add the ability for accounts to redirect (or delegate) to another through the use of a new block type. This block should contain the intended destination account, and send the whole current balance to that account (essentially acting as a *send* transaction). All current and future pending transactions to the account should be in

[2020-06-13 13:12] qwahzi opened #2812 "Pending/Unpocketed vs "Sent -> Delivered -> Received""
I still see a lot of newbie confusion on the topic of "pending" or "unpocketed" transactions, so I'd like to officially propose:

Sent -> Delivered -> Received

To match standard email and physical mail terminology. I think having the Nano Foundation lead the way on this change will help services make the change

[2020-06-15 21:20] zhyatt commented on #2806
Thanks for pulling this together @koczadly - we will review these details as we get into planning upcoming features for the node.

[2020-06-16 14:49] guilhermelawless opened #2816 "Show hardcoded vs ledger block height in CLI compare_rep_weights"

[2020-06-16 16:37] ghost opened #2818 "Websockets fails to establish connection error 1006; accept failed: Invalid argument"
Does this issue reproduce with the latest release? if you don't use the latest version then please try our latest version.
Yes v20

Briefly describe the problem you are having in a few paragraphs.

From log:
[2020-Jun-16 16:54:35.183405]: Websocket: listen failed: bind: Cannot assign requested address
[2020-Jun-16 16:54:35.347683]: Websocket: accept failed: Invalid argument

Websockets fails to es

[2020-06-16 16:40] ghost commented on #2818
config-node.toml
[code]

[2020-06-16 17:19] ghost commented on #2818
Perhaps related to #407

[2020-06-16 17:25] zhyatt commented on #2818
@0xaaroncrenshaw I think this need to be set:

[code]

@argakiig Can you confirm? If so, do we need documentation updates for this? I think another case of this came up recently and a related PR changed this for V21 by default.

[2020-06-16 17:27] ghost commented on #2818
Just changed that. It is working now! Documentation on the Websockets page would be helpful I think.

[2020-06-16 17:30] ghost commented on #2818
I made a test ping code here for anyone else debugging. It seems the issue is solved.
[code]
response
[code]

[2020-06-17 17:10] zhyatt commented on #2818
Glad you resolved. Added ticket for getting docs updated.

[2020-06-17 17:10] #2818 closed, assigned to argakiig, guilhermelawless

[2020-06-19 16:27] aglkm opened #2824 "CLI 'nano_node --wallet_create' or 'nano_node --wallet_list' commands don't work"
Run ./nano_node --wallet_create command and you will get the following:
Assertion (!flags.read_only) failed
nano::node::node(boost::asio::io_context&, const boost::filesystem::path&, nano::alarm&, const nano::node_config&, nano::work_pool&, nano::node_flags, unsigned int)
/workspace/nano/node/node.cpp:368

 0# 0x00000000008BC363 in ./nano_node
 1# 0x00000000008BD604 in ./nano_node
 2# 0x0000000000

[2020-06-19 16:49] wezrule commented on #2824
It seems this is an issue if the node hasn't been started yet (not properly initialised `data.ldb` file). Could you run with the `--daemon` flag first, wait for the command line output (with network etc) and try the command again please.

[2020-06-19 17:24] aglkm commented on #2824
OK, I've tested a bit.
If data.ldb file is located inside default home(~/Nano) directory there is no such issue.
However, in my scenario, I have started nano_node with custom directory(--data_path option), so in this case nano_node --wallet_create doesn't work.
I see that 'nano_node --wallet_create --data_path=...' works.
It would be nice to have a message saying something like "node requires data

[2020-06-19 17:29] wezrule commented on #2824
Yeh this is a bug, shouldn't crash for sure. Thanks for the report and testing.

[2020-06-23 21:31] qwahzi commented on #2379
I'd like to bump this issue real quick since it seems like we're in a potentially risky situation again, partially because of the above issue.

"Currently over 14 million Nano not voting as it sits pending in a cold wallet: https://nanocrawler.cc/explorer/account/nano_3x4ui45q1cw8hydmfdn4ec5ijsdqi4ryp14g4ayh71jcdkwmddrq7ca9xzn9/history

Reducing the decentralization and stall resistance of the net

[2020-06-26 17:13] zhyatt commented on #2379
This is definitely high on our list to keep an eye on. To build on the previous mention of complexity, we have looked at possible approaches to solving this and one such approach that seems preferred is:

- unopened accounts don't count, they don't have an entry in the database
- add running pending_total in the account table
- update pending_total of destination on sending, and decrease on receiv

[2020-07-02 21:08] wezrule commented on #1121
[code]

[2020-07-11 16:35] SatyaprakashVyas opened #2841 "j"
Vg

[2020-07-11 16:36] #2841 closed, assigned to nobody

[2020-07-14 00:56] clemahieu commented on #601
One of our integrations has requested BIP32 hierarchical keys so we're starting to look at standardizing this kind of key derivation. The main changes we're looking at are using a single hashing algorithm, blake2, rather than a combination of them sha3 or sha512 though it looks like some have already moved this direction.

As far as packaging these up for users, we'd be looking to move/copy the pr

[2020-07-14 01:14] ghost commented on #601
But bip32 doesn't use blake2, it uses HMAC-SHA512.

Ledger (Ledger Nano S, Ledger Nano S) and Trezor both implement the bip32 standard.

So unless you get the hardware wallets onboard, your hierarchical key derivation will still not match theirs.

This is important. When nanovault broke (wouldnt connect to ledger), funds on ledgers were unrecoverable except if you used roosma's recovery tool, whic

[2020-07-14 01:37] PlasmaPower commented on #601
I think the biggest unresolved questions are around non-hardened derivation, which might not need to be resolved yet. Maybe for now nano could copy ledger.

[2020-07-14 10:08] clemahieu commented on #601
I didn't elaborate on that fully, we're looking to get the non-hardened derivation standardized, we won't break any compatibility with existing users or the hardened key derivations.

[2020-07-23 15:31] Sarajjj opened #2851 "0.023"
**Description of bug:**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Environment**:

**logs**

[2020-07-23 15:38] #2851 closed, assigned to nobody

[2020-07-28 10:28] wezrule commented on #2824
https://github.com/nanocurrency/nano-node/pull/2862 will make it no longer crash and output appropriate message.

[2020-07-28 14:32] wezrule opened #2864 "New state block version"
For more information see the forum post https://forum.nano.org/t/new-state-block-design/892

New additions:
**Version** (1 byte)
**Block height** (8 bytes)
**Subtype flags** (1 byte)
~Amount (16 bytes)~ No longer being considered

Addition of 10 more bytes to the state block.

[2020-07-31 10:08] apufvqsp opened #2866 "Why nano-node V21.1 has many unchecked blocks"
I have been running nano-node V21.1 in a docker container for more than two weeks. The running command is as follows:
[code]

config-node.toml configuration is as follows:
[code]

config-rpc.toml configuration is as follows:
[code]

My problem is when I call `curl -H "Content-Type:application/json;charset= utf-8" -X POST --data'{"action": "block_count"}' http://127.0.0.1:7076/`, the returned infor

[2020-07-31 10:20] guilhermelawless commented on #2866
This could be the case if you have a poorly connected node. Are you port forwarding 7075/tcp ?

The results of these commands would help identify that:

[code]

[2020-07-31 10:39] apufvqsp commented on #2866
Yes, now 7056/tcp has port forwarding, does the host where the nano docker container is located must have a public IP?

[code]

Can the return information of the above two commands show that there is a problem?

[2020-07-31 10:52] guilhermelawless commented on #2866
It does, the average number of peers is 260 and you only have about 150, meaning you're not well connected.

It should be 7075/tcp not 7056, according to your configuration details above. An alternative is allowing UPnP in the router. A way to test if the port is open is `telnet YOUR_IP 7075` from another computer. Then it looks like you're all set in terms of docker.

Once you see above 200 peers

[2020-07-31 11:22] apufvqsp commented on #2866
Okay, I will set a public IP for the host and try again.

Thank you very much for your patient answers

[2020-08-03 06:47] luis360 opened #2867 "Using account_create RPC call is very slow, about a few minutes, but using the command line is very fast，why?"
curl -XPOST 127.0.0.1:7076 -d '{"action":"account_create","wallet":"xxx"}'
very slow

but cmd is very fast.
![image](https://user-images.githubusercontent.com/38502473/89153766-23c3c800-d598-11ea-8c27-f3f7a6097ed3.png)

[2020-08-03 07:13] guilhermelawless commented on #2867
Hi there, please provide the following information:
- Node version
- Last log file after running the RPC command that takes a few minutes

Do other RPC calls take long or only this one?

[2020-08-03 07:24] luis360 commented on #2867
version: 21.1
2020-Aug-03 06:28:11.946761]: 0x7f7c10534b30 {"action":"account_create","wallet":"70XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}
[2020-Aug-03 06:28:39.181073]: 32833 blocks (+ 0 state blocks) (+ 0 forced) in processing queue
[2020-Aug-03 06:28:39.274181]: 348604 accounts in pull queue
[2020-Aug-03 06:29:11.331460]: 348076 accounts in pull queue
[2020-Aug-03 06:29:

[2020-08-03 07:49] luis360 commented on #2867
![image](https://user-images.githubusercontent.com/38502473/89157298-e151b980-d59e-11ea-8c25-605011bae2a1.png)

RPC request 0x7f7c240ae460 completed in: 372795242 microseconds

[2020-08-03 08:04] luis360 commented on #2867
wallet_create:
![image](https://user-images.githubusercontent.com/38502473/89160058-0a744900-d5a3-11ea-838c-c182dd347a53.png)

[2020-08-03 08:06] luis360 commented on #2867
Please see my comment.
thank you.

[2020-08-03 08:18] guilhermelawless commented on #2867
Thank you for the logs, it all points to the node being very busy doing some task. Could you provide the following as well?
- Hardware details
- Size of your `data.ldb` and `wallet.ldb` files.
- Response of RPC `{"action": "block_count"}`
- Response of RPC `{"action": "stats", "type": "objects"}`  when wallet_create/account_create is taking very long
- Command you're using to start the node.

Plea

[2020-08-03 08:45] luis360 commented on #2867
node runs in docker

host:
cpu:8 core
hd: 2.0T
mem: 64G

data.ldb: 47G
wallet.ldb: 60k

 curl -XPOST 127.0.0.1:7076 -d '{"action":"block_count"}'
{
    "count": "26017607",
    "unchecked": "26070157",
    "cemented": "16484026"
}
curl -XPOST 127.0.0.1:7076 -d '{"action": "stats", "type": "objects"}'
{
    "node": {
        "alarm": {
            "operations": {
                "count": "1728",

[2020-08-03 08:54] guilhermelawless commented on #2867
Thank you, the problem is the amount of worker tasks queued that seem to be taking a long time. Given the size of the database, it seems you might have run into an LMDB bug that inflates and slows down the database.

It should be solved by either:
- Running https://docs.nano.org/commands/command-line-interface/#-vacuum
- Removing `data.ldb` to start from scratch. You can also download a database f

[2020-08-03 09:37] luis360 commented on #2867
I used the first method and restarted, both accout_create and wallet_create are very fast.
thank you.
but my upgrade from 21.0 to 21.1 is very slow, it has been several hours, and the upgrade has not been completed yet.
only print `Upgrade in progress`. why? how long will it take to complete.

[2020-08-03 10:09] guilhermelawless commented on #2867
I don't understand, you said you were already running V21.1. There is no upgrade from V21.0 to V21.1, if the RPC is accessible then the upgrade is complete and you are good to go.

In case you're not aware, your node is not yet caught up with the network. This will only happen once block_count (cemented count) reaches ~52 million.

[2020-08-03 10:11] guilhermelawless commented on #2867
Closing as it's moving to another topic, feel free to reach out on [Discord](https://chat.nano.org) for support as well, or create a new ticket with enough information.

[2020-08-03 10:11] #2867 closed, assigned to guilhermelawless

[2020-08-03 15:24] luis360 commented on #2867
sorry, stage had slow question, online I'm upgrading.

[2020-08-03 21:56] Srayman opened #2869 "Request: Add normalized PoW and multiplier to block_info/blocks_info RPC's"
The current block_info and blocks_info RPC's return the work for a block.  It would be ideal if these could also return the work multiplier as well as normalized multiplier that is used when prioritizing PoW so these could be used to further analyze blocks rather than having to compute this externally.

[2020-08-04 04:40] apufvqsp commented on #2866
@guilhermelawless ，
I have verified that after setting the public network ip to the docker host, the unchecked blocks are reduced to 0, thanks again

[2020-08-04 04:40] #2866 closed, assigned to nobody

[2020-08-05 05:44] zhouqiang-cl opened #2870 "Using Chaos Mesh to enhance nano"
Hello, I am [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh) Maintainer. Chaos Mesh is an open-source and free Chaos Engineering platform, it can be directly used without modifying any code.

Blockchain is a very promising industry. Congratulations on doing such a promising project,  Blockchain is a subdivision that is widely used in the distributed field. For distributed system, the stabili

[2020-08-06 17:01] #2816 closed

[2020-08-08 21:07] qwahzi opened #2875 "A standardized node benchmarking routine?"
How difficult would it be to create a standardized local-node benchmarking routine (maybe a --local-benchmark flag)?

In my case, I'm specifically curious about pure PR performance, no block creation/sending/propagation, just passive listening, processing, and outbound voting in perfect network conditions (i.e. not limited by other nodes/votes). How do I objectively compare the potential node perf

[2020-08-10 08:23] guilhermelawless commented on #2875
Difficult. There is functionality via CLI to profile some things like bootstrapping, work validation, signature generation, vote verification (sig checking), frontier search. Aditionally, there are some slow tests for confirmation height processing, ledger processing and others.

It would be possible to create a benchmark CLI that goes through some of the other profile functions and outputs the st

[2020-08-10 13:01] qwahzi commented on #2875
Thank you for the detailed response, much appreciated!

You're right, I wouldn't want to run any of those CLI profiles in isolation, my hope was that there would be a way to essentially simulate all real node functions (simultaneously) under pseudo-saturation, but with fake (completely local) votes/blocks to simulate instant response/perfect network conditions. I run a beta node off and on, but I

[2020-08-15 15:27] zhyatt opened #2882 "Increased node resource usage under investigation"
We have recently observed higher than expected node resource usage on the Nano network. This includes more CPU, disk IO and bandwidth being consumed by elections than is typical compared to the number of transactions being confirmed.

We are currently investigating the root cause and working to resolve these conditions. Areas of investigation include frontier confirmation, sequential voting and el

[2020-08-15 22:38] schenkty commented on #2882
Here is an excellent example of the issue - https://nanocrawler.cc/explorer/account/nano_1zmm5ywgtmepoxrh3ibqpxjiza1oewr5tkuy54ymuuszzatjwpcikpzy4th4

Open block `D09EA69AB326AFD879A23DA239BB3C77AC71703819A07B7693B22FE921C56A1A` was confirmed within the expected timeframe

The Following Send Block `A05A3DFF184010EADD500AC3DC1D8C3CE8DD6A116D12E2C7B8FF3D0645AA8629` is fully independent at this point

[2020-08-16 07:30] optout21 commented on #2882
What I noticed:  after a node restart, after a few minutes, the node stops servicing RPC (or just very slow), and log is full with messages like:

[code]

[2020-08-16 09:11] Laurentiu-Andronache commented on #2882
Good luck solving this!

[2020-08-16 13:18] udikantz commented on #2882
I am having the same issue.   the node stops responding to RPC requests. all requests are getting timed out. restart might resolve the issue for a random amount of time

[2020-08-16 14:12] zhyatt commented on #2882
Thanks for the additional details. We are continuing to investigate both the current situation, which is now impacting the network more broadly than before, and working on a fix for the root cause. At this time we don't have any specific asks for node operators but recommend network usage be minimized where possible.

[2020-08-16 17:10] zhyatt commented on #2882
At the time this issue was opened the network was generally confirming blocks quickly outside of account `nano_3c1hatdu1rjqo8tpjfnzuwcyaoq5nqmztxhpezeakk7qd9cy7jjstf5nysfp` which had lots of unconfirmed waiting for voting. Later some additional activity degraded network conditions which began impacting the confirmations on accounts across the network. Since then the network had worked through addi

[2020-08-17 21:40] clemahieu commented on #2882
We are continuing to work on updates for the identified issues and are working on fixes. The account chain with slow confirmations has completed.

- We are now at the stage in our investigation where we advise that those few nodes remaining behind in cemented block counts to attempt a restart of the node to help catch up.
- The beta network is provided for testing/performance.

We are still seeing

[2020-08-23 15:27] My1 commented on #2379
also unopened accounts have the issue of who should vote for them as they have no rep set

[2020-09-03 00:24] Srayman opened #2910 "confirmation_height_clear doesn't work on RocksDB"
**Description of bug:**

Running --confirmation_height_clear on RocksDB prints the message that confirmation height has been reset to 0 but when starting the node again cemented count is the same as before.

**Steps to reproduce the issue:**
1.  Bootstrap a node (eg beta) and wait until cemented has increased
2.  Stop the node and run --confirmation_height_clear
3.  Start the node and verify cemen

[2020-09-03 20:34] zhyatt opened #2913 "Investigate vote_processor spikes during heavy spam"
Raised by @Srayman. During beta net spam tests today (approx. 13 PRs, 34 total nodes) where two separate, large block publishes of ~200k blocks occurred at rates of 1200 BPS and 1500 BPS, there were large spikes in the `vote_processor` size on multiple DigitalOcean nodes (2vCPU, 2GB). See here for graph: https://cdn.discordapp.com/attachments/664547113610510347/751174159417082026/Screen_Shot_2020-

[2020-09-03 20:37] #2913 closed, assigned to nobody

[2020-09-03 22:01] zhyatt commented on #2882
https://github.com/nanocurrency/nano-node/releases/tag/V21.2 was released today with updates to address the issues discussed in this ticket. We recommend all node operators upgrade to this build, which also includes optimizations for OpenCL-based work generation. There are no special integration considerations or impacts with this release. Build artifacts can be found in the release linked above o

[2020-09-09 22:10] guilhermelawless commented on #2533
@Srayman are you able to verify the bug is solved in the develop branch?

[2020-09-10 10:59] apasov opened #2922 "util/build_prep/bootstrap_boost.sh: 3: Syntax error: "(" unexpected"
**Description of bug:**

Get an error when trying to compile from source v21.1 or  v21.2

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
[code]

**Describe the results you expected:**

No errors

**Environment**:

Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-47-generic x86_64)

[2020-09-10 11:10] guilhermelawless commented on #2922
Hi @apasov , could you try the following instead?
`bash util/build_prep/bootstrap_boost.sh -m`

[2020-09-10 11:52] apasov commented on #2922
Hi @guilhermelawless , yes, it worked, thank you. I was able to successfully compile nano_node.

[2020-09-10 16:03] HostFat opened #2924 "Suggestion: alternative to POW that users can choose to use -> Burning NANO as fee"
I'm asking if the dev team che evaluate the possibility do add an alternative to POW that the user "can" choose to use instead of using POW (localy or remote)

The alternative is burning Nano, a very low amount, as fee.

Advantages:
- Faster then waiting for POW.
- Even more green.
- Burning Nano means that the coin becomes even more rare/limited, and so its value is more likely to increase. (it i

[2020-09-10 16:59] clemahieu commented on #2924
We use PoW for two things: priority and correctness.

Priority: We process the highest priority/difficulty transactions first, this is the same as fee-to-miners or fee-by-burn.

Correctness: What is the minimum amount needed to create a valid transaction?

Where would you set the fee minimum burn fee for processing transactions? It's been suggested this is decided by votes of representatives, howe

[2020-09-10 17:26] HostFat commented on #2924
I guess that you have to use the same method as you are using to change the required POW on Nano, as you increased it lately.
So, maybe using the Ephoc blocks or something like them.

I think that you will need to find a way to use commitments:
https://link.springer.com/chapter/10.1007/978-3-642-17373-8_11
https://twitter.com/ElectricCoinCo/status/1300828630470111232

So maybe this possibility isn

[2020-09-10 19:25] guilhermelawless commented on #2922
Documentation updated, thanks @apasov @argakiig !

[2020-09-10 19:25] #2922 closed, assigned to argakiig

[2020-09-14 12:17] oggy95 opened #2931 "Error "Fork" received when processing an open block"
**Description of bug:**
Hello. Created an account and forgot to reproduce receiving first transaction (https://docs.nano.org/integration-guides/key-management/#first-receive-transaction). Now I received a few more transactions and cann't accept them to use it. When following guide upper recieving first transaction, I get an error:   `{"error": "Fork"}`

**Steps to reproduce the issue:**
1. Create

[2020-09-14 12:27] guilhermelawless commented on #2931
This error means the "previous" field in your block is not the frontier (latest block) of your account (that you get with RPC account_info, per the guide).

[2020-09-14 12:41] oggy95 commented on #2931
@guilhermelawless then i must in "previous" field set "frontier" block from "account_info", not "0" how in guide?

[2020-09-14 12:59] guilhermelawless commented on #2931
Ah, apologies. In the case of the first receive block it should be "0" as you said. However, there was recently an epoch upgrade which may have opened your previously unopened account (with 0 balance).

To check if this is the case, try RPC account_info with the receiving account, or check it on a block explorer such as https://repnode.org . If the account shows up it means it's created and you sh

[2020-09-14 13:10] oggy95 commented on #2931
Get a block from account_info, it's not "0".
But when trying with new "previous" block, and broadcastring transaction with subtype "open", get an errot:
[code]

[2020-09-14 13:11] guilhermelawless commented on #2931
Since the account is now open, your block is a "receive", not "open". Make sure to also check the "balance" of `account_info` return, in case it's not zero you will need to adjust the balance of the block you're creating.

[2020-09-14 13:18] Srayman commented on #2910
This is resolved in V22.0DB2 testing.

[2020-09-14 13:18] #2910 closed, assigned to wezrule

[2020-09-14 13:48] oggy95 commented on #2931
Yes, this works, I've got first transaction.
But other transactions still in pending. How to enable automatically receiving pending transactions?

[2020-09-14 13:51] guilhermelawless commented on #2931
Since you are following that guide, it means you're doing external management, i.e., your key is not stored in the node wallet.

With this approach the only way to do it automatically would be to receive notification of confirmations via the [websocket](https://docs.nano.org/integration-guides/websockets/), creating the receive block and processing.

For already existing pending transactions, use

[2020-09-14 13:52] guilhermelawless commented on #2931
Closing as this has been resolved and conversation moved to a different topic, but please feel free to come by the discord server at https://chat.nano.org or open a thread in the forum at https://forum.nano.org with any other questions about how to best use the node.

[2020-09-14 13:52] #2931 closed, assigned to nobody

[2020-09-16 07:49] jayprakashji opened #2942 "Suggestion: Add transaction reference id"
**TLDR:**
Add int64 field which will serve as a payment identification between the 'merchant' and 'customer'.

**What?**
Currently in the fiat money world, merchant creates invoice number, which must be included in bank payment to pair it to invoice.
The reason is, that the merchant has one bank account for all customers, and needs to recognize the payment.
Even payment processors like Stripe, hav

[2020-09-16 22:23] qwahzi commented on #2942
Hello jayprakashji! I think you might find some of the discussion [here](https://forum.nano.org/t/new-state-block-design/892) to be interesting. You might consider sharing your thoughts there as well :)

[2020-09-16 22:26] qwahzi opened #2945 "Only bootstrap cemented blocks?"
Per #beta-net discussion on Discord, it seems like some nodes might be trying to bootstrap forked blocks. Is it possible to only bootstrap cemented blocks? Seems like an easy win for both less bandwidth usage and improved fork resolution (fewer repeat forks), but I'm not sure sure if this has any hidden implications or difficult implementation issues.

[2020-09-21 18:16] zhyatt opened #2963 "Update Wireshark dissector spec"
The Wireshark dissector spec for Nano has fallen out-of-date as protocol changes have occurred the past couple years, so an update is needed.

- Current version: https://www.wireshark.org/docs/dfref/n/nano.html
- Previous owner profile/change history: https://code.wireshark.org/review/#/q/owner:roland%2540haenel.me+status:merged
- Nano protocol reference: https://github.com/nanocurrency/protocol

[2020-09-22 13:07] IrakliXYZ commented on #2806
That would also help merchants control invoices easily. The merchant would control one main account and create a new redirection (one-time use only) account for each new transaction.

[2020-09-26 12:32] cryptocode opened #2985 "clang/boost 1.73 compile error on case-insensitive file systems"
Here's a cute problem when I compile the node with the latest clang version/boost 1.73 on macOS.

So `boost/config/select_stdlib_config.hpp` contains this:

[code]

where `include <version>` picks up... `miniupnp/miniupnpc/VERSION` 🙄 🤣  This happens because APFS is case-insensitive.

Renaming that file to VERSION_ or whatever "fixes" the issue, but surely there must be a better way.

[2020-09-26 12:38] clemahieu commented on #2985
I worked around this by deleting that VERSION file, it doesn't appear to be needed.

Since someone else is running in to this we'll get a fix.

[2020-09-26 20:47] koczadly opened #2986 "Incorrect 'account' field for account_history response with epoch blocks"
When executing the following RPC request (using `raw` set to true):
[code]

The following response JSON is received:
[code]

Note that the `account` field for the block is actually the epoch signer, rather than the account which the block belongs to, which is not what I would expect. If this is an intentional feature, it isn't currently mentioned on the docs page and should probably be added.

I d

[2020-09-28 08:11] guilhermelawless commented on #2986
I believe this is the intended behavior, similarly to how send and receive blocks show the corresponding destination/source , not the account to which the block belongs (which is always the `account` you give to this command).

Example from beta. First block at the bottom is the open (receive) block, receiving a block sent from `nano_3betagfmasj5iqcayzzssba185wamgobois1xbfadcpqgz9r7e6a1zwztn5o`. T

[2020-09-28 13:52] koczadly commented on #2986
That makes sense then. I assumed that because it returned other block data (signature, link and work) that the data represented the actual blocks, rather than aggregated information about the blocks.

[2020-09-28 19:48] dinarpay opened #2989 "I want to customize the nano cryptocurrency"
Can the source code be used for the nano cryptocurrency
And edit the name and currency symbol
And Total supply
And changing the prefix of the wallet address, to another prefix of my choice
I love nano very much
But I want a stable currency that works in my country to facilitate digital payments services, in a very safe and fast way

[2020-10-01 00:44] LeonChain commented on #2989
Hi Dinarpay
I would like to chat with you.

[2020-10-02 18:53] zhyatt commented on #2989
@dinarpay This issue is outside the scope supported here.

[2020-10-02 18:53] #2989 closed, assigned to nobody

[2020-10-04 18:31] cryptocode commented on #2963
Maybe someone finds this useful while we wait for Wireshark to get an update:

https://github.com/cryptocode/nanocap has been updated with tcp support. The tcp stream reassembly logic is a bit of work in progress, but the entire Nano protocol spec is now covered. It also adds connection tracing (too see what a connection does at a given time)

Should serve as a helpful source for the Wireshark imp

[2020-10-05 17:09] Srayman commented on #2533
Ran the same script as earlier on beta and did not see any fluctuations in online reps count so seems to be resolved.  I ran it for 15 minutes and sent some blocks halfway through to see if that had any impact and reps online stayed consistent the entire time.

[2020-10-05 17:17] zhyatt opened #2993 "RocksDB default for V22DB5 & DB6"
For tracking against direct commits: https://github.com/nanocurrency/nano-node/commit/d6d25ea463128869c5d56f561e65060304736511 and https://github.com/nanocurrency/nano-node/commit/ff9fb0db9ab258dd6cb2eccc56acff7e415565fe

[2020-10-06 15:07] cryptocode commented on #1121
I have a _core_test_ running in a loop to try reproduce a segfault, and came across this:

[code]

**NOTE**: This comment can be resolved with the merge of #3063

[2020-10-06 19:00] cryptocode commented on #1121
After another few hours of core_test looping:

[code]

**NOTE**: A bit of investigation shows this is because `confirm_expired_frontiers_pessimistically` is not locked internally, so the test corrupts `expired_optimistic_election_infos`. Wesley points out it's not an issue for the production node as it's only called from the request loop thread. Possible fixes include internal locking, a separate

[2020-10-07 09:29] cryptocode commented on #1121
[code]

[2020-10-07 11:03] cryptocode commented on #1121
[code]

**NOTE:** This comment can be resolved with the merge of https://github.com/nanocurrency/nano-node/pull/3062

[2020-10-08 09:05] cryptocode commented on #1121
[code]

[2020-10-13 15:02] zhyatt opened #2999 "Add unit test for repcrawler loopback channel guard"
Related to: https://github.com/nanocurrency/nano-node/pull/2997

[2020-10-15 11:31] SergiySW commented on #2999
Issue cause will be removed with PR https://github.com/nanocurrency/nano-node/pull/2879/files#diff-919136c313c60329c6e7d9b625cbd5280393fb24de49814875d5ccb5c37b1d9aL83

[2020-10-16 20:26] NIKOLAY73731 opened #3002 "https://github.com/nanocurrency/nano-node.wiki.git"
**Description of bug:**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Environment**:

**logs**

[2020-10-16 20:27] NIKOLAY73731 opened #3003 "https://github.com/nanocurrency/nano-node.wiki.git"
**Description of bug:**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Environment**:

**logs**

[2020-10-16 20:55] #3002 closed, assigned to nobody

[2020-10-16 20:55] #3003 closed, assigned to nobody

[2020-10-16 22:23] NIKOLAY73731 opened #3004 "kfvwmT9LVDRGcRouBvJ5o9XGQrBqSh4xmAScs0nSIjqAauDd4WFu3lX2zkYhXJ8g"
**Description of bug:**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Environment**:

**logs**

[2020-10-18 10:50] #3004 closed, assigned to nobody

[2020-10-19 20:17] zhyatt opened #3007 "V22.0 General Test Cases"
## Fork resource usage

- [x] See Fork resource usage test cases #3041 for full testing details

## Experimental Pruning

- [x] See Experimental Pruning Test Cases #3008 for full testing details.

## Vote timestamps

- [x] See Vote timestamps Test Cases #3009 for full testing details.

## Load testing
The following load tests are useful to run with each DB if time and resources permit, but will be

[2020-10-19 20:18] zhyatt opened #3008 "Experimental Pruning Test Cases"
See [#2881](https://github.com/nanocurrency/nano-node/pull/2881) for links to various pruning PRs. Initial testing was conducted in earlier DBs with success, but the previous large PR was split and expanded on recently. This feature remains experimental and not enabled for voting nodes.

## Configuration

- Pruning can be enabled with nano node launch flag `--enable_pruning` (continuous) and with

[2020-10-19 20:18] zhyatt opened #3009 "Vote timestamps Test Cases"
See [#2879](https://github.com/nanocurrency/nano-node/pull/2879) for the implementation details. Usage of timestamps in votes to replace sequence number will be automatically enabled on upgrade to V22.0DB7, no configuration needed.

## Test Cases

### VT1: General, sustained vote traffic
As a baseline test a sustained level of transactions at a low BPS should be established, ensure:

- [x] Verify

[2020-10-20 20:51] zhyatt opened #3011 "Automate test network builds"
Similar to beta network builds, automate the test network builds when `V##.#RC#` tags and final `V##.#` tags are created (no DB builds needed).

[2020-10-20 20:57] zhyatt commented on #3011
This was resolved with #3000

[2020-10-20 20:57] #3011 closed, assigned to argakiig

[2020-10-20 21:10] zhyatt opened #3012 "Update Ledger integration to support state block v2"
With the state block v2 changes to the signed block payload, hardware signing implementations will need to be modified to support this before the new block version is required for all blocks. Current plans for this activation can be found in the [roadmap](https://github.com/orgs/nanocurrency/projects/5).

**Related**

- [State block v2 implementation](https://github.com/nanocurrency/nano-node/pull

[2020-10-21 17:54] argakiig commented on #2208
closed with #3000

[2020-10-21 17:55] #2208 closed

[2020-10-22 19:27] zhyatt commented on #3009
A couple below saturation events were done today with some vote tightness capture based on vote timestamps compared to publish times. Thanks to @Srayman and for the blocks and graphs.

Based on these tests VT1 seems good on the `vote_invalid` side (none seen) and the `vote_replay` turns out to not be useful in these scenarios so those tests are being crossed off for both VT1 and VT2.

These tests

[2020-10-22 21:03] zhyatt commented on #3009
Thanks for the blocks on this @Joohansson

A 1500 BPS saturation test ([Discord link](https://discordapp.com/channels/370266023905198083/478299776211877898/768927083421630484)) was performed which resulted in a lower peak of just under 1000 BPS median seen across all nodes as well as just within PRs (so rebroadcasting issues likely weren't causing poor propagation due to publication to all PRs ini

[2020-10-23 20:15] wezrule opened #3017 "debug_assert in work_generate_blocking using qt wallet"
Reported by @cryptocode

[code]

This assert hits when creating a block in the qt wallet. This variant of `work_generate_blocking` is only meant for tests. Spoke with @guilhermelawless who said it looks like it was missed in https://github.com/nanocurrency/nano-node/pull/2569 and it should call the same overload (taking difficulty) as the non-qt wallet.

[2020-10-24 13:54] zhyatt commented on #3009
A broader sample set was captured from 98,663 confirmations at 1000 BPS condensed into 21 intervals of 5 seconds each.

[Graph 1 - zoomed out](https://cdn.discordapp.com/attachments/581297901989265421/769353522436505600/unknown.png)
[Graph 1 - zoomed in](https://cdn.discordapp.com/attachments/581297901989265421/769354082040807424/unknown.png)
This first graph is using the max data point per rep fo

[2020-10-24 14:00] guilhermelawless commented on #3017
@wezrule @zhyatt I should be able to give this a go. The node wallet behavior is to grab cached work and, [if the difficulty isn't high enough, obtain it again](https://github.com/nanocurrency/nano-node/blob/V21.2/nano/node/wallet.cpp#L1151-L1158).

~~It looks like the QT wallet doesn't grab any cached work, could you confirm this and let me know if that would be the desired behavior instead? If s

[2020-10-24 14:47] zhyatt commented on #3017
Thanks @guilhermelawless - assigned to you. Let us know if you need anything from our end.

[2020-10-25 21:14] cryptocode opened #3021 "Boost.Coroutine sanitizer issues"
Boost.Coroutine doesn't work well with sanitizers. The library is deprecated and will likely never get ASAN support: https://github.com/boostorg/coroutine/issues/30#issuecomment-325583085

Boost.Coroutine has a workaround for Valgrind, but not ASAN:
https://www.boost.org/doc/libs/1_74_0/libs/coroutine/doc/html/coroutine/stack/valgrind.html

Boost.Coroutine2 has workarounds for Valgrind and gcc/cla

[2020-10-26 10:38] clemahieu commented on #3021
I did a bit of digging on ASIO+coroutine2 and while I found some people who have made patches in this direction https://github.com/boostorg/asio/pull/52 https://github.com/boostorg/asio/pull/55 but they were never accepted.

It sounds like there are 2 reasons why they're not patching asio in this way:
- C++20 coroutine language support
- The C++ networking TS which has a different execution model

[2020-10-26 13:24] cryptocode commented on #3021
Makes sense. It looks like a proper coroutine/asio combo is in a bit of limbo right now. I definitely agree it would be helpful in removing some ASIO pyramids of doom.

The problem was that ASAN kicked in immediately at the new network.cpp code using coroutines for the steady timers, so I had to revert those while testing my PR under ASAN (as the asan workaround does not work for coroutine, only c

[2020-10-26 18:21] bdsvc-github commented on #3007
Deployment starting to ephemeral!

[2020-10-26 18:21] bdsvc-github commented on #3007
Deployed to ephemeral!

[2020-10-27 19:53] zhyatt commented on #3008
From Discord user: Ricki

[2020-10-27 21:45] zhyatt commented on #3007
With DB8 there were some LT1 tests done to help capture data for #3009 and there wasn't any obvious regression issues given the network setup (25-30 nodes, 10 of which were pruned low spec ones). Saturation levels around 1200BPS or so range. Leaving LT1 open for testing in future DBs.

[2020-11-01 20:10] PlasmaPower opened #3030 "Race leading to LMDB assert failed on wallet creation"
**Description of bug:**

Occasional crash when creating a wallet, due to yet another bad side effect of the dual wallet memory and LMDB storage.

**Steps to reproduce the issue:**

Can't be reliably reproduced, but try creating wallets en masse during bootstrapping or high tps.

**Describe the results you received:**

[code]

**Describe the results you expected:**

The node to not crash

**Additio

[2020-11-03 15:14] ElBigo commented on #918
Hello,
how to get the "GENESIS_PRIVATE_KEY", for someone who is using the preconfigured_representatives account as genesys.
I am not seeing RPC command that provides the private key, from account number or from public key.
I am on testnet
thank you

[2020-11-06 17:13] zhyatt commented on #3008
Both EP1b and EP2b were tested via TerraForm deployment of 2vCPU/2GB instances with DB8, bootstrapping and available during heavy network traffic events. No pruning related issues found. Moving out to DB10 for additional LMDB testing once that is more widely available (no forced RocksDB).

[2020-11-06 17:22] zhyatt commented on #3009
Additional tests above saturation: using the "median" value per rep across all confirmations from each vote interval (15 seconds)

[Graph 1](https://cdn.discordapp.com/attachments/664547113610510347/772186362140688384/unknown.png)
The confirmations at the end with large negative numbers are expired elections, these will be handled in a better way with future capture through the websocket with modi

[2020-11-06 18:33] zhyatt opened #3041 "Fork resource usage test cases"
In V22.0DB4 some heavy fork testing was done by @PlasmaPower which caused unintended resource usage across the beta network and helped us identify areas for improvement when handling various fork conditions. With V22.0DB9 we are introducing a few changes to help in some simpler fork cases, and will follow with other changes for more complex cases in V22.0DB10 and possibly later.

This ticket is fo

[2020-11-09 19:14] zhyatt opened #3045 "Update preconfigured_peers comment with IP example"
The previous `.json` type config files had the following default setup which included an example of a non-domain based entry:

[code]

Currently we rely on comments in the example/generated `.toml` file for hints and although it mentions IP addresses, it seems like IPv6 is required and that isn't mentioned. It currently shows:

[code]

This should be clarified further in the comment/hints of the g

[2020-11-09 22:54] jeanpablojp opened #3046 "representatives_online Problem in a representative node"
Im running a representative node setting my own account as my own representative and its working fine except the RPC comand "representatives_online".
When i run this command it shows me all representative nodes expect mine own.
But i noticed that if i make transaction in this interval the node becomes online for a while.
Does anybody have an idea of why i can see my own node as an online represent

[2020-11-10 20:26] qwahzi commented on #3046
I believe "representatives_online" intentionally only shows nodes that have voted recently. You may have to be a PR (>0.1% online vote weight delegated to you) with enable_voting turned on

https://docs.nano.org/commands/rpc-protocol/?h=+representatives_online#representatives_online

[2020-11-13 14:48] wezrule commented on #3007
I manually modified my telemetry data on a node to send more data than other peers would understand and didn't appear to get banned by any (peer connections were maintained). Confirmed on a separate node than the telemetry it received from this modified node too is parsed correctly.

[2020-11-13 16:28] zhyatt commented on #3007
Great thanks @wezrule - marked telemetry related test cases as finished, including the maker piece which was separately verified.

[2020-11-17 14:53] wezrule commented on #3030
Thanks for the detailed bug report. I also agree with your sequence of events, and have provided a fix for it here: https://github.com/nanocurrency/nano-node/pull/3051

[2020-11-17 15:18] wezrule commented on #2945
Thanks! It's implemented here: https://github.com/nanocurrency/nano-node/pull/3047 Will be cherry-picked in DB10 to see if there's any issues that arise

[2020-11-18 21:44] #2993 closed, assigned to nobody

[2020-12-07 16:32] My1 commented on #2379
sure, but I think that one doesnt apply here since the nano arent in the hands of the sender anymore but the recipient, well they are kinda floating till the recipient actually takes them. so the sender's rep shouldnt count but the recipient's

[2020-12-10 13:11] rathodudayy commented on #918
in common.cpp update
live_public_key_data

[2020-12-10 18:13] Srayman opened #3066 "Suggestion: allow port to be defined in preconfigured_peers"
Currently preconfigured_peers in config-node.toml only supports adding IP's or DNS entries.  The default node port is used to establish initial connections.

When setting up a local network, if the default port is changed via "peering_port" in config-node.toml on the primary node then other nodes will not be able to establish a connection since they only try the node port that is set either throug

[2020-12-10 19:07] Srayman opened #3067 "Suggestion: add command line options for RPC Configs"
Config options for the node (config-node.toml) can be passed as command line arguments (eg --config node.peering_port=7075) however RPC configs that live in config-rpc.toml are not currently supported.  I confirmed this with @cryptocode and he suggested submitting an issue in case this can be added in the future.  Maybe along with RPC 2.0 for example.

[2020-12-11 22:16] jeanpablojp opened #3070 "Nodes over a Load Balancer"
This is not a problem but actually a doubt about a node behavior under a Load Balance structure.

I wanted to put a a node in a load balance structure to run a payment gateway using nano, but reading the documentation sounds like impossible since i would have problems with the data folder.

Put the data folder in a external driver with multiple simultaneous access is safe?

Can anybody suggest a d

[2020-12-11 23:01] Srayman commented on #3070
You can run 2 nodes independently as they are primarily just your way of communicating with the network.  What you would then need to load balance is the RPC endpoints.

RPC is just HTTP requests, so you could do a simple pass through load balancer setup that forwards requests to each of the nodes behind the load balancer or something more complex like using a proxy like here for example https://g

[2020-12-14 19:33] qwahzi commented on #2379
I don't think the recipient's representative can count because a pending block is one that hasn't had a corresponding receive block confirmed yet. So based on the block itself, I would think we have to use the rep listed in the block itself (i.e. the sender's rep), but I guess a different implementation decision is possible

https://docs.nano.org/integration-guides/the-basics/#blocks-specification

[2020-12-26 19:28] My1 opened #3073 "Suggestion: checkpoints or something for bootstrap"
apparently a Nano Node's bootstrapping process is not very fond of being interrupted, be it a system restart or a crash or basically anything. and honestly especially when you are especially in the middle of verification and a crash happens, this is a very frustrating thing since it can easily take yet another day for even just the downloads happening again.

so I would propose that the node can m

[2020-12-26 19:32] My1 commented on #2812
the question tho is where to differentiate between sent and recieved

[2020-12-26 19:34] My1 commented on #2205
this is interesting, and potentially it could even allow for a fallback solution if one fails

[2020-12-26 21:20] My1 opened #3074 "Node crash while Bootstrapping (in the middle of verification)"
**Description of bug:**

Basically I am trying to run a node, with Version 21.2 and in the late bootstrapping process I have had a crash.

The node already has downloaded all the blocks, specifically 21:00 UTC yesterday, and it crashed about 14:30 UTC today at about 18,5 Million Blocks checked, and 12,3 Million cemented in.

I am honestly not sure how or even IF I can reproduce it and certainly ma

[2020-12-29 13:01] regfaker opened #3075 "Assertion failed - nano::block_store_partial unchecked_put, Docker"
Nano node V21.2, LMDB 0.9.23, running in docker 20.10.1

**Steps to reproduce the issue:**
1. Run node according to [doc](https://docs.nano.org/running-a-node/docker-management/#__code_0)
2. After 5 minutes it brings failed assertion below and container exits with code 139

[code]

**Environment**:

- OS: Debian GNU/Linux 10 (buster)
- Kernel: Linux vps 5.9.12 #1-vpsAdminOS SMP Thu Dec 3 18:02:20

[2020-12-29 13:05] regfaker commented on #3075
I will try to clear ledger data (data.ldb*) and start again. I will make backups and can possibly share it with you if that would help.

[2020-12-29 13:22] regfaker commented on #3075
Hmm, same error after starting with ledger again. Last block count which I've got is
[code]
It is strange that after node restart it seems that it continues (block count is increasing again) but this is probably because of lazy bootstrap.

[2020-12-29 15:02] zhyatt commented on #3075
@wezrule Can you review the above crash when you get a chance?

[2020-12-29 15:27] wezrule commented on #3075
how much free disk space do you have?

[2020-12-29 16:14] regfaker commented on #3075
enough 115G

[2020-12-29 16:21] wezrule commented on #3075
Can you run `docker exec ${NANO_NAME} nano_node --debug_generate_crash_report > crash_report.txt` and post the contents of that file please (where ${NANO_NAME} is the name of the docker container)

[2020-12-29 16:25] ealtamir opened #3076 "Call to wallet_republish crashes node"
An RPC call is crashing my docker node. It's using version 21.2. While in the process of bootstrapping, I issue the command:

[code]
This immediately crashes my node. The output from docker can be seen here: https://pastebin.com/ij0sDf59

As per the issue creation documentation, I'm sharing my most recent log:
[code]

[2020-12-29 17:00] regfaker commented on #3075
well that will create zero sized crash_report.txt but I'm attaching all the nano_node_* files from nano directory
[nano_node_crash_files.zip](https://github.com/nanocurrency/nano-node/files/5751479/nano_node_crash_files.zip)

[2020-12-29 17:07] wezrule commented on #3075
Ah yeh that command outputs to a file `nano_node_crash_report.txt` not to standard output which you've attached thanks.

[2020-12-31 20:03] wezrule commented on #3075
So we've had this reported once or something similar at least on discord, but I don't think there was a resolution, it was suspected hardware failure. To add extra debugging information in the future when asserting (mainly the error code), I've made this PR https://github.com/nanocurrency/nano-node/pull/3077. I've backported just the `unchecked` change which is where the crash for you is to a v21.

[2021-01-01 11:13] regfaker commented on #3075
Ok, thanks, I'll try with that image and bring here error message. I'm looking forward to v22.

[2021-01-01 11:21] regfaker commented on #3075
error message enhanced log:
[code]

There are 4G of RAM on host machine if this is mem space related.

[2021-01-01 11:51] wezrule commented on #3075
Ok thanks for testing it! This error actually looks related to this: https://bugs.openldap.org/show_bug.cgi?id=8969 It was fixed in LMDB 0.9.24, but v21 is on 0.9.23. We are upgrading to 0.9.25 in v22, will get it backported to a v21 branch and would be good to see if it solves your problem.

[2021-01-01 12:20] regfaker commented on #3075
Ok, I will follow after release. Does this happen only in case of full sync? I'm wondering why other running nodes does not have this problem. Is possible workaround in downloading ledger snapshot and run node with it?

[2021-01-01 13:00] wezrule commented on #3075
You can try the latest snapshot sure, but there will still be some bootstrapping done after, maybe you get lucky but could still hit it in the future. It seems to be a bug specific to the LMDB library and your hardware seems to trigger it more often. We will get a docker tag for v21 for you soon (might be early next week as it's new years weekend now), hopefully it resolves it.

[2021-01-02 12:39] wezrule commented on #3075
@regfaker Could you try nanocurrency/nano:v21.2-release-assert-patch-lmdb-0.9.25 (thanks @argakiig for making this)

[2021-01-02 22:00] regfaker commented on #3075
I'll try tomorrow, hopefully. But with used ledger snapshot so far so good - 28 hours without this error. So to simulate it I'll have to delete ledger and start over.

[2021-01-03 09:59] regfaker commented on #3075
Unfortunately it is still happening in LMDB 0.9.25. I've tried to clear ledger and after cca hour it fails with almost same error (blockstore_partial.hpp:200 instead of previous blockstore_partial.hpp:512).
[code]
[nano_node-block_store_partial_unchecked_put-lmdb_0_9_25.log](https://github.com/nanocurrency/nano-node/files/5761416/nano_node-block_store_partial_unchecked_put-lmdb_0_9_25.log)
[nano_n

[2021-01-05 19:34] wezrule commented on #3075
Thanks for testing! So I found this [Monero Issue](https://github.com/monero-project/monero/pull/5112) where the LMDB creator increased the number of keys for the fine-grained splitpoint search to solve the same error. Maybe increasing it further solves the issue for you, @argakiig has made the docker tag `v21.2-release-assert-patch-lmdb-0.9.25-40nkeys` where we increase it to 40, if you get a cha

[2021-01-07 12:17] #3076 closed, assigned to SergiySW

[2021-01-09 12:20] regfaker commented on #3075
Still happening. Maybe more than 40? I don't know.
[nano_node-block_store_partial_unchecked_put-lmdb_0_9_25-40nkeys.log](https://github.com/nanocurrency/nano-node/files/5790898/nano_node-block_store_partial_unchecked_put-lmdb_0_9_25-40nkeys.log)
[nano_node_crash_report.txt](https://github.com/nanocurrency/nano-node/files/5790900/nano_node_crash_report.txt)

[2021-01-10 00:21] androm3da opened #3083 "releases sha256 files formatted incorrectly"
The signatures produced for `nano-node-V21.2-Linux.deb` and `nano-node-V21.2-Linux.tar.bz2` cannot be verified normally.  They should include the name of the file.  The source tarball is produced correctly.

If I manually edit the file I can get it to pass the signature.

[code]

[2021-01-10 00:43] argakiig commented on #3083
Thanks, pretty sure this was an oversight on my end, will update the scripts accordingly,

[2021-01-13 10:53] wezrule commented on #1121
[code]

[2021-01-23 18:31] regfaker opened #3087 "node repeated shutdown after 3s"
**Description of bug:**

My node is constantly terminating after cca 3s of run without obvious cause. Not in log, not in crash report.
I have noticed node termination issues week ago but before it worked at last for longer time, now I'm in this state where the node barely do something.

**Steps to reproduce the issue:**
1. Just run node as usually
2. After 3s execution stops and docker is restarti

[2021-01-24 00:32] schenkty commented on #3087
Can you check if your RPC is accessible to the internet? The default port is 7076. Open RPC ports make the node vulnerable to stop commands.

[2021-01-24 10:18] regfaker commented on #3087
RPC port is ported as `-p 127.0.0.1:7076:7076` so it shouldn't be accessible from outside host. I have disabled control too (`enable_control = false`).
I would also assume that if node stop is triggered by rpc it will be in log.

[2021-01-24 11:23] regfaker commented on #3087
I'm now elaborating with docker/vps setup/checks

[2021-01-24 17:09] qwahzi commented on #3087
Fwiw, all RPC logs seem to disappear ~Jan 14th (I'm assuming you were probably still issuing some kind of RPC commands between the 14th and now?), and I saw enable_control on for non-local addresses as late as January 9th:

`[2021-Jan-09 12:47:20.127537]: WARNING: control-level RPCs are enabled on non-local address ::ffff:0.0.0.0, potentially allowing wallet access outside local computer
`

[2021-01-26 14:38] Srayman commented on #3087
That's the standard setup for docker, it uses ::ffff:0.0.0.0 to allow access to the host outside of the container.  Then the docker run command is responsible for limiting access to the container (eg -p 127.0.0.1:7076:7076) that regfakar mentioned.

My guess is a corrupt database, I had a similar case recently with a bad memory stick it would crash shortly after starting the node.

I would try mov

[2021-01-26 16:08] #3067 closed, assigned to nobody

[2021-01-26 21:29] regfaker commented on #3087
Thanks, that helped. It is running now. Strange thing is that my "damaged" data.ldb file was 28G big while snapshot has 23G so some 5G extra data was generated. I have backup of it if you are interested.
Could there be some log aid which would tell "corrupted ledger"?

Another thing which I noticed in discord chat https://discord.com/channels/370266023905198083/370266023905198085/80363369854520525

[2021-01-27 00:15] Srayman commented on #3087
That's great it's running again.  The snapshot ledger has some extra data cleared out and it has been "vacuumed" which helps reclaim space that LMDB takes up as it runs.

After running for a while you'll likely see the data.ldb file around 30-35GB.

[2021-01-27 10:05] regfaker commented on #3075
I'm just attaching another case of failed assertion from today:
[code]

[2021-01-27 10:11] regfaker commented on #3087
hm, not for long. I'm back in the same state again. I've captured [this](https://github.com/nanocurrency/nano-node/issues/3075#issuecomment-768176574) failed assertion before so probably it can be all about LMDB problems. I'm looking forward to v22.

[2021-01-30 19:21] Marsup200290 opened #3091 "Nano"
**Description of bug:**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Environment**:

**logs**

[2021-01-30 19:22] #3091 closed, assigned to nobody

[2021-02-01 21:15] zhyatt opened #3094 "Adaptive confirmation solicitor based on bandwidth limits"
When we go beyond bandwidth limits we're not only doing unnecessary work by constructing confirmation requests / trying to broadcast blocks, but also there is no feed back process to inform the election that the request didn't go through. This means it's more likely the election will get escalated, since from the perspective of the election, requests are not getting replies.

@Srayman ran into thi

[2021-02-01 21:18] zhyatt opened #3095 "Storing channel drop rate"
This could be used by the node to tune itself either per-channel or overall given the channel drop rate, e.g. lowering request rate in the active transactions loop, prioritizing some channels over others, lowering fanout, etc.

For now, just having the data would be helpful.

Current ideas for locations to use this:

- Fanout, skip peer with almost full channel
- When requesting confirmation, skip

[2021-02-01 21:18] zhyatt commented on #3094
Related: https://github.com/nanocurrency/nano-node/issues/3095

[2021-02-02 16:45] Srayman commented on #3094
If my memory is accurate I think one of the biggest factors was the vote republishing that happens while bootstrapping, which results in a lot of outbound traffic.  Some of this has been alleviated by reducing the number of frontiers that are added every request loop which I think has slowed down the frontier confirmations some, though it's been a while since I've done a bootstrap and recorded sta

[2021-02-04 19:42] rotemdan commented on #2096
Edit: I've proposed the same idea in a more informal way on the Nano forum. I recommend reading that post before this one to understand the general idea and intention of this approach:
https://forum.nano.org/t/precomputed-pow-dos/687/15?u=rotemdan

Edit: I did not initially understand how a nonce is used in the PoW algorithm but I now I believe I mostly fixed it.

----

How about something like th

[2021-02-05 01:22] paulharwood commented on #196
Can the node/network also reject transactions with a threshold of say less than 90% of the current difficulty? Not reaching a difficulty threshold may render pre-computed attacks useless and protect the tx from ever being rebroadcast, effectively localising the problem.

Does the difficulty need to be uniform over the network?

Excuse my ignorance if i've not understood the protocol well enough fo

[2021-02-05 15:08] zhyatt commented on #196
One of the issues with this approach is that due to the asynchronous nature of the network, nodes could be seeing a different set/order of transactions in any given time period. Since work difficulty can be changed on a block before confirmation, that also means potentially different levels seen for an individual block at different times. This isn't a major issue when those transactions are kept a

[2021-02-05 23:43] rotemdan commented on #506
This might sound silly, but what would be the advantages and disadvantages of using AES as a basis for proof of work scheme?

AES has specialized instructions to accelerate it on both [modern PCs and mobile devices](https://en.wikipedia.org/wiki/AES_instruction_set). I'm not sure if GPUs or ASICs would provide tremendous benefit (but I might be wrong! tell me about it).

In any case, the differenc

[2021-02-07 18:44] LenWilliamson commented on #1121
I just run the test in the top level `nano_node` directory this way:
`cmake -D NANO_TEST=ON`
`make`
and then I got all the test files in nano_node. When running ./core_test I get
![grafik](https://user-images.githubusercontent.com/76499121/107156130-c3657700-697c-11eb-9c8e-132c71d53452.png)

[2021-02-07 19:06] wezrule commented on #1121
Thanks, what OS is this? If you still have the output, would be nice to see where it's failing

[2021-02-07 19:14] LenWilliamson commented on #1121
[code]
After running the test again I didn't get the output. But I don't know (yet) how to check where it's failing. What should I do to check it?

[2021-02-07 19:24] wezrule commented on #1121
no worries, if it happens again you can scroll up (assuming there's enough lines configured in terminal) to where the test is and it should output something when it fails

[2021-02-07 19:27] LenWilliamson commented on #1121
I see, so this is the output I got
[code]
Btw, what is the goal of this test and why has the `timestep_before_keepalive` be strictly greater? What is the "keepalive"?

[2021-02-08 17:06] zhyatt opened #3097 "Investigate ISO20022 standard"
Evaluate the ISO20022 standard for potential impacts to any payment protocols being considered or other communications related to the Nano network.

https://www.iso20022.org/

[2021-02-10 21:52] cryptocode commented on #1121
Happens on CI now in rpc_test:

[code]

[2021-02-11 07:38] LenWilliamson opened #3099 "C++17ify nano/ "lib, node, rpc & secure subfolders""
Hello,

as suggested in [this post](https://forum.nano.org/t/best-way-to-contribute-as-a-new-joiner/1252/2), I would like to C++17ify everything under the nano/ directory. I will start with lib, node, rpc & secure subfolders. As suggested by @wezrule I will:

1. Add structured bindings
2. Add `[[nodiscard]]` to functions which return a `bool`
3. Inline class static variables which are declared in

[2021-02-22 21:59] NanoOrca opened #3104 "Subtract"
Scenario:
Adversarial node achieves enough weight to stall the network/censor transactions by not voting on them.

This scenario has no solution since any attempt to change rep and reduce his weight fail for the reasons above.

Solution: When processing an election for a block that changes a rep (and only changes a rep), the weight from the rep being substituted is subtracted from online weight fo

[2021-02-23 02:22] Vyryn commented on #3104
This seems to make intuitive sense; a rep is partial in an election that reduces his own weight.
It should be for change blocks only, not receive/send blocks with a rep change, otherwise network security is reduced.
I don't see any quantitative change to the security or increased resistance of the network to a majority attacker directly resulting from this change, but intuitively it seems to incre

[2021-02-24 15:08] wezrule opened #3105 "Update RocksDB to support building on M1 Mac when a new stable release supports it"
There is a RocksDB build issue on the new M1 ARM chip machines https://github.com/facebook/rocksdb/pull/7714. The fix is in master but not in any of the stable releases, at the time of writing the latest is RocksDB 6.15.5 (5th Feb). There are 3 commits which should be added on to any new version we use (if still appropriate), an example is shown here: https://github.com/nanocurrency/rocksdb/commit

[2021-03-03 12:02] rathodudayy opened #3109 "Error Generating Block"
Everytime I try to send transaction using RPC to nano node, it returns "Error Generating Block", but if I repeat the same call 3-4 times, it generates block, what is the issue here? Why it generates in first call sometimes and sometimes it takes 5 calls?

[2021-03-03 12:06] clemahieu commented on #3109
Without an example of your code we have no way of helping you.

It's probably better to ask on discord if you're making an integration.

[2021-03-03 15:14] rotilho opened #3111 "KeepAlive returns 0:0:0:0:0:0:0:0:7075 and 0:0:0:0:0:0:0:0:0 peers"
Majority of nodes (including peering.node) are returning 0:0:0:0:0:0:0:0:7075 and 0:0:0:0:0:0:0:0:0 in the KeepAlive message.

I asked in Discord about protocol changes but later I found some nodes that are sending correct KeepAlive messages (with all 8 peers).

Example message:
[code]

[2021-03-03 15:22] clemahieu commented on #3111
Nodes advertise their inbound listen port with [::0]:<port> in slot 0.

When we used UDP we multiplexed all connections through the peering port so if we received a message from a node, we could respond back directly. When we moved to TCP we couldn't do that since the source port is an ephemeral port.

[2021-03-03 15:34] #3109 closed, assigned to nobody

[2021-03-03 15:41] rathodudayy opened #3112 "Error Generating Block"
I am using php to request nano node, but if I try send command, it works but I need to run that command 4-5 times to create a send transaction.

[code]

Sometimes it works on the first attempt and sometimes it takes more than 5 calls, I am not sure why this is happening.

[2021-03-03 15:54] Srayman commented on #3112
What is your curl timeout set too?  Are you using CPU work/PoW generation on the node itself?

If you do many send's back to back it will need to generate PoW first, which can take some time, especially on a CPU without a GPU.  If you wait long enough it will pre-cache the PoW so the next send is fast.

Have you tried generating PoW first and then adding the "work" to the send command to rule out

[2021-03-03 16:02] rathodudayy commented on #3112
Yes I am using CPU currently in the testing and development phase, so as you suggested because my CPU will be slower than GPU, my node is getting more request than it can handle so it's responding with "error generating block"

Can you link any page where there is a reference to how to do this procedure in an efficient way? I would appreciate that help, thank you.

[2021-03-03 18:39] Srayman commented on #3112
Not 100% sure on the internal code sequence that could cause it to fail but in the RPC docs here https://docs.nano.org/commands/rpc-protocol/#send

It mentions the following.

CPU PoW for sending can take up to a minute or longer to generate if it is not pre-cached.

[2021-03-04 05:03] howinator opened #3113 "Consider adding command line parameter which defines config root"
**Description of bug:**

Not a bug - this is a feature request for node operators. I would like to store the node, rpc, etc. config files in a different directory root than where the ledger is stored. Currently `--data_path` specifies where the process should both look for config files and the ledger. When mounting volumes to a node in a production system, this isn't desirable because I have a dif

[2021-03-04 05:10] howinator opened #3114 "Consider adding option to write log output to stdout/stderr"
**Description of bug:**
An extremely common pattern for cloud-native deployments, e.g., kubernetes, is to log to stdout/stderr which allows the orchestration engine to capture logs for aggregation across the cluster. When deploying to kubernetes, dealing with actual log files adds a not-insignificant amount of work for capturing logs. It would be really nice if there was an option to write log out

[2021-03-04 05:12] howinator commented on #3114
Actually I'm going to post this one to the forum first to make sure I didn't miss something. I discussed it on Discord, but I'm not convinced this doesn't already exist.

[2021-03-04 05:12] #3114 closed, assigned to nobody

[2021-03-04 05:15] argakiig commented on #3114
This can be done via cli `--config node.logging.log_to_cerr=true` or in the config itself
[code]

[2021-03-04 05:16] argakiig commented on #3114
These are also enabled in the entry.sh of docker image nanocurrency/nano, I don't remember the tag we added that though. Also when using the official dockerhub image or building from source, the `-l` shorthands to the cli log_to_cerr=true

[2021-03-04 05:46] rathodudayy commented on #3112
Ok thank you for your help, I am going to try to execute send after 5 mins of the interval to see if this is the reason, and if it's because of PoW, I will use WebSockets to get notifications of PoW generation and execute the next transaction after that.

[code]

[2021-03-07 21:54] LenWilliamson commented on #1121
When I run the `./core_test` I got
![grafik](https://user-images.githubusercontent.com/76499121/110256210-edb84d80-7f97-11eb-9fb0-2c48278e11dd.png)
After running `./core_test` again, this test passed.

[2021-03-08 09:38] Tipanano opened #3121 "Minimum amount filter for websocket confirmations subscription"
Adding a minimum amount filter option when subscribing to confirmations with websockets.

Can help with reducing load on the server receiving confirmations during spam, or just in general as most wallet don't do auto receives on small amounts anyway.

[2021-03-08 17:19] #2824 closed, assigned to wezrule, SergiySW

[2021-03-10 09:09] Imp3 opened #3126 "SegFault in nano::json_handler::peers() in v21.2 docker image."
**Description of bug:**

I got two SIGSEGV under load in the timespan of a 3 days.
In dmesg I can see this (ip is the same for both cases):

[code]

Some debug info gathered from gdb:

[code]

**Steps to reproduce the issue:**
I guess hammering the peers rpc command may toggle this under load unfortunately I don't have the time right now to investigate further but maybe later today or tomorrow.

*

[2021-03-10 09:27] wezrule commented on #3126
Thanks for the detailed report, this should be fixed in next version with https://github.com/nanocurrency/nano-node/pull/3028

[2021-03-10 09:48] Imp3 commented on #3126
Ah that makes sense didn't find this one when looking for duplicates. We can close this one here then.

[2021-03-10 09:48] #3126 closed, assigned to nobody

[2021-03-12 00:43] zhyatt commented on #3121
@Tipanano This is a good suggestion and is included in a new WebSocket targeted towards payments - perhaps this might work for your needs? https://github.com/nanocurrency/nano-node/pull/3023

[2021-03-12 10:24] RobbertJanSW commented on #196
[edit2]
I just noticed we already have something like this implemented by now.. :-)
[/edit2]

How about adjusting the difficulty based on the blocks reaching quorum at any given moment? Without extra negotiation, but simply based upon the current network quorum and block difficulty already in there.

In the end, it's all about the PR nodes being able to vote. Spam is only a problem when it is satu

[2021-03-12 11:30] RobbertJanSW commented on #196
Thinking about this some more, it might be even better to have PRs process blocks prioritized by the difference between the effective block difficulty and the last-second quorum reaching difficulty. This way every node and PR has its own loosely difficulty-based processing and block generation. Effectively this would prioritize blocks having a difficulty closest to the current load the network is

[2021-03-13 13:08] LunNova commented on #3075
Ran into this this morning.

[code]

[2021-03-14 11:52] marioortizmanero opened #3139 "Enforcing const correctness and other good practices"
**Description of bug:**

[Const correctness](https://isocpp.org/wiki/faq/const-correctness) is quite lacking in the current codebase, and could help maintainability. There are instances like [this line](https://github.com/nanocurrency/nano-node/blob/develop/nano/node/cli.cpp#L212) where a variable could be `const` but it isn't. It doesn't offer performance gains, but it helps avoiding errors -- so

[2021-03-14 12:01] clemahieu commented on #3139
Const-correctness definitely.

We usually return true to signify an error has occurred though this is not done consistently which should be cleaned up. Using false for success and true for failure is done to be consistent with error codes where 0 means success and non-zero indicates the type of error.

Indentation for initializers yes. The clang-format script should be updated to enforce this.

[2021-03-14 12:05] marioortizmanero commented on #3139
As long as it's consistent it's perfectly fine. You didn't mention anything about early returns but in the older issue you said it was ok, so I'll assume there's no problem with that.

Thanks! I'll create a couple PRs soon™. I would say #297 can be closed now.

[2021-03-14 12:37] LunNova commented on #3075
Hit another which is also in this thread, although since different assertion failure not sure is related.

[code]

[2021-03-15 18:08] zhyatt commented on #3009
No issues have arisen with vote timestamps in build so far. Additional testing of vote activity will continue with final votes testing separately. Closing.

[2021-03-15 18:08] #3009 closed, assigned to nobody

[2021-03-16 20:30] zhyatt commented on #3075
@cryptocode Any chance you are familiar with any of these issue areas?

[2021-03-16 21:08] cryptocode commented on #3075
From the source code/docs:

    MDB_PAGE_FULL - there is insufficient room in the page. This error
    should never happen since all callers already calculate the
    page's free space before calling this function.

@zhyatt Given the above, and how it was worked around in https://github.com/monero-project/monero/pull/5112#issuecomment-505481597, I would say this is almost certainly an lmdb bug. Th

[2021-03-16 22:10] LunNova commented on #3075
Thanks for looking at it cryptocode. As I saw this existing issue, I figured it wasn't a problem unique to my setup and was worth reporting it's still happening.
Given the move to rocksdb soon and since few people are seeing it, not so sure it needs looking into? Unless more nodes are having trouble and just not posting about it here.

Updated to `nanocurrency/nano:v21.3RC1` today.

[2021-03-16 22:18] ghost opened #3153 "Time Lock Send"
Would it be possible to add a time-lock send?

It used to be that nano didn't store or use timestamps. Since the roadmap is adding timestamps in votes, I figured I would ask about time lock send transactions.

The three use cases would be:
1) nano to (other coin that does not support smart contracts) atomic swaps.
2) first send to a new address.
3) unintentional send.

The simplest idea I had woul

[2021-03-16 23:00] cryptocode commented on #3075
@TransLunarInjection if there's a bug in lmdb - or in the use of it - then it's worth figuring out for a few reasons: I believe lmdb still going to be a backend, and some people may chose to use it + the wallet database is always lmdb + if it's a node-side bug, then it may affect rocksdb as well; such as something clobbering memory (unlikely given the error, but it needs to be checked out) + we'd

[2021-03-17 10:59] clemahieu commented on #3153
The vote timestamps aren't related to the block origination time and there are significant hurdles to using timestamps in the way you describe. It's better to vet this idea through the #protocol channel on discord before opening an issue here.

[2021-03-17 10:59] #3153 closed, assigned to nobody

[2021-03-20 16:22] Pnkjgot01 opened #3160 "Transaction failed"
![Screenshot_20210320-214425.jpg](https://user-images.githubusercontent.com/61357926/111876821-87372480-89c6-11eb-81d1-899b792b7680.jpg)

[2021-03-21 15:45] RickiNano commented on #3008
Experimental Pruning Test Cases #3008 EP1a report:
Hardware used: I7-8700, 32GB, 1TB SSD, Gigabit internet
Bootstrapped from scratch using LMDB and default pruning configuration
Total time elapsed: ~4 days
Progress was followed several times a day using the "block_count" rpc call.
Final status:
{ "count": "11910236",    "unchecked": "0",    "cemented": "11910236",    "full": "1551519",    "pruned"

[2021-03-21 22:10] codesoap opened #3161 "RPC: pending response contains no list, if nothing is pending"
**Description of bug:**

According to https://docs.nano.org/commands/rpc-protocol/#pending, the response to the `pending` RPC should contain a field named `blocks` which contains a list of pending blocks. When no blocks are pending, I expect an empty list, but I'm getting an empty string instead. The JSON parser I'm using (Go standard library) does not accept an empty string when it expects a list

[2021-03-22 09:36] cryptocode commented on #3161
@codesoap This is due to the json reader/writer used, see also #2188 and #1871

For now, it should be possible to implement workarounds in Go, see for instance how the issue is handled in https://github.com/hectorchu/gonano/blob/master/rpc/account.go

[2021-03-22 11:33] playnano opened #3162 "Updating block work results in weird behaviour."
**Description of bug:**

Once a block is processed by the node/network, it's possible to update its work if the block hasn't been confirmed yet. Until the recent spam this was something that wasn't really necessary or even easy to do, due to the network confirming everything so fast. But now that there is this congestion, and going into the future where spam prevention measures will be in place, t

[2021-03-22 15:35] playnano opened #3163 "Transaction unconfirmed for more than 11 days. With 500x work multiplier and both previous and link blocks confirmed."
**Description of bug:**

This isn't exactly a bug, but I would like to get a clearer explanation of why this is happening; if there's something I can do; and if the protocol can be improved for this (in the near future preferably).

I've also asked on Discord but thought an issue here would help too.

We have now partially recovered from the spam attack on the network, but it looks like long chain

[2021-03-22 15:37] codesoap commented on #3161
Thanks for the info! I must say, I'm a bit surprised that such a fundamental bug has never been fixed. I'll make due with a [custom unmarshaler](https://golang.org/pkg/encoding/json/#Unmarshaler), which interprets the empty string as an empty list.

[2021-03-22 16:26] cryptocode commented on #3161
Closing as this is covered by other issues and submitter has a workaround.

[2021-03-22 16:26] #3161 closed, assigned to nobody

[2021-03-22 16:57] zhyatt commented on #3008
Thanks for your help with EP1 @RickiNano - that is a successful result, although a bit slow as you mentioned in Discord. We may be doing some load testing soon so interested in how that performs, but we are unlikely to change pruning behavior in this release unless any crashes are discovered, in order to focus on other areas before release.

[2021-03-23 02:03] Kaspre commented on #2467
Request:  RPC command to show voting status.  Is voting is enabled (yes/no), when did the node last participate in a vote (elapsed time and/or timestamp), how many votes in last X minutes (integer), maybe an optional parameter to show vote details (list of last X blocks that were voted on)

[2021-03-23 14:35] zhyatt commented on #2467
Can you please elaborate on the use case you have for this command?

[2021-03-23 18:38] regfaker commented on #3075
Thanks for returning to this. So could be docker image (similarly to v21.2-release-assert-patch-lmdb-0.9.25-40nkeys but for 21.3) with more than 40 nkeys created to let us try if increase helps?

[2021-03-23 20:41] mistakia commented on #3162
Despite the error, the block is updated. I've been able to free some confirmations this way. You can check to see if it worked by pulling the block info and seeing if the new PoW is returned.

[2021-03-24 10:04] playnano commented on #3162
I know that the block is updated, I said that on "1st". I just think that the node should respond with a success message on both cases and not an error message.

That said, not sure if you read my other issue #3163, but I've not been able to manually confirm any block by increasing its work. Where you able to do that?

[2021-03-24 10:08] playnano commented on #3163
The actual block mentioned above, `9D123CA45183C9AD6804043446BB6B9386555A8BD37D12771B738B2F3745C55D` has been confirmed now. But the same error still applies to the following block on the same chain (with thousands of blocks unconfirmed) and other chains.

[2021-03-24 21:18] mistakia commented on #3162
Ah yea I missed that 😅 and agree with your main point.

I have been able to manually confirm blocks by increasing the work, though its not consistent and it's tricky. There appears to be a number of factors at play that prevent effectively pushing confirmations forward manually. Confirmation heights for a given account are different across the network. A few bugs/issues pertaining to cached votes

[2021-03-25 15:59] qwahzi opened #3166 "By default, don't allow sends unless previous is confirmed?"
Per the recent spam, it seems like one issue that causes compounding problems is nodes that send long chains of unconfirmed transactions that need to get resolved, but some of those transactions get lost in the backlog, or end up as forks that need (and struggle) to get resolved

Would it make sense to change the default node behavior to only send if "previous" is locally confirmed, unless overrid

[2021-03-25 16:10] Gyakusetsu commented on #3166
And also from Algorand:   https://www.algorand.com/resources/blog/algorands-core-technology-in-a-nutshell/

An additional advantage of Algorand’s technology is that its chain never forks. This is so because only one block can have the required threshold of committee votes. Accordingly, in Algorand all transactions are final. Once a block appears, you can count on it to be forever part of the chain

[2021-03-25 19:17] Kaspre commented on #2467
Sure!  I think it would primarily be useful for troubleshooting when there appears to be an issue with the node.  Two recent examples:

1.  To troubleshoot a node that appears to have stopped voting

Recently I noticed that sites like Nanocrawler and NanoNinja were reporting my node as "offline" or "unstable" and showing that it had not voted in many hours.  Initial checks of my node all looked go

[2021-03-26 15:02] bbedward commented on #3166
I disagree with this idea, queuing transactions is something that should be handled by the node/protocol (as it currently is). It would be atypical to have this queuing be implemented at the application level and would complicate Nano integrations. With traditional blockchains you queue as many transactions as you want in the mempool.

[2021-03-26 17:38] qwahzi commented on #3166
This wouldn't remove queuing from the protocol - it would only change the default node behavior to local queuing _if_ "previous" is unconfirmed (to slow down the publishing of extended unconfirmed transaction chains, unless forced)

What's the benefit to publishing transactions if the required "previous" is unconfirmed and may get rolled back? Seems like you'd have to wait the same amount of time

[2021-03-26 18:17] Gyakusetsu commented on #3166
Hi @qwahzi can you post and share this in nano forum, protocol design?

[2021-03-27 11:43] gurghet opened #3167 "Useless if block"
https://github.com/nanocurrency/nano-node/blob/9112636c22458ceb5c2fe6cdfe7f80c76ccae924/nano/node/blockprocessor.cpp#L106-L124
Can we delete this please? It's just confusing. Both branches do the same thing and there is a lengthy explanation of something that it should be obvious but it's not.

[2021-03-27 12:19] clemahieu commented on #3167
https://github.com/nanocurrency/nano-node/commit/a96664c7cce49327e9df50d41cf830b7c48a20ff

[2021-03-27 12:19] #3167 closed, assigned to nobody

[2021-03-27 14:01] Srayman commented on #3167
Is this correct?  In V21.2/V21.3 it used push_back in the later section.

The intent here is that after a block is processed and it is retrieving successors from queue_unchecked it would push to the front of the queue and blocks through bootstrap would be pushed to the back of the queue therefore prioritizing which blocks get processed for those most likely to fit into the ledger as well as live b

[2021-03-27 19:18] BitDesert opened #3168 "Add additional preconfigured peer"
To mitigate any DNS issues that could occur with the only peering option `peering.nano.org` it would be good to have another domain with completely seperate nameservers etc.
https://github.com/nanocurrency/nano-node/blob/0ffa688ecfcb49769a097560a4dfc1b32c558287/nano/node/nodeconfig.cpp#L19

[2021-03-27 21:44] gurghet commented on #3167
@Srayman I saw the commit and noticed that a new parameter was added. So it's probably as you said, a copy paste error. Still it would be best to have a clearer explanation in the comment since the behaviour is not at all obvious.

[2021-03-27 22:33] Srayman commented on #3167
Are you referring to this description in the comment in the code... pasted below?

Either way it certainly shouldn’t be emplace_front for all blocks, or bootstrap blocks and new blocks will go to the front and push older blocks to the back which is the opposite of how it should be processing blocks as they should be FIFO not LIFO.

 		/* Push blocks from unchecked to front of processing deque to k

[2021-03-27 22:57] gurghet commented on #3167
Yeah, I think it mixes information about transactions and how the queue is used in other places on top of the fact that `quarter_full` is a magic number hidden behind a nice name. If I understand correctly it should be
[code]
This way there is no assumption on how the rest of the code works and the comments will age slower

[2021-03-28 00:26] Srayman commented on #3167
Seems good to me.

[2021-03-28 07:39] #3160 closed, assigned to nobody

[2021-03-28 13:43] qwahzi commented on #3166
Done!

https://forum.nano.org/t/by-default-dont-allow-sends-unless-previous-is-confirmed/1888

[2021-03-30 13:56] Srayman opened #3175 "Change default include_only_confirmed to true for pending RPC's"
When include_only_confirmed was added to the various pending RPC's the default was false, which leads to services pulling pending and then following with receive or  (block_create+process) without first confirming that that the send block is confirmed/cemented.

The default behavior should err on the side of security by defaulting to true to only send confirmed pending blocks and optionally allow

[2021-03-30 14:30] zhyatt commented on #1792
@theohax We are looking to get some of the low risk, likely atomic, config options to allow here for V22.

[2021-03-31 21:04] zhyatt commented on #2242
Closed by #2884

[2021-03-31 21:04] #2242 closed

[2021-03-31 21:07] zhyatt commented on #2642
@SergiySW Do we already have this covered with the stats objects block_processor setup?

[2021-03-31 21:08] #2533 closed

[2021-03-31 21:10] #2999 closed, assigned to SergiySW

[2021-04-13 16:46] zhyatt opened #3182 "Remove publishing to Docker tag `latest`"
To follow general best practices for Docker tagging, the `latest` tag for production images should no longer update when a new version is published: https://hub.docker.com/r/nanocurrency/nano/tags. This `latest` tag will be deleted from the Docker hub in the near future. However, the `latest` tag will be left available for the beta network tags to facilitate more passive contributions: https://hub

[2021-04-15 16:08] dsiganos opened #3189 "qt_system does not work, fix it or remove it"
The executable "qt_system" is outdated and does not work.
It should be either removed or fixed.

[code]

[2021-04-15 22:34] argakiig commented on #3189
what happens with this test if you add the flag to disable_max_peers_per_ip?

[2021-04-16 14:35] dsiganos opened #3191 "RPC stop does not cause nano_node to exit"
On latest develop branch(c2e9404aa0a83dfb5baadd67b915183553d1ace5), the RPC stop command does not cause nano_node to exit.

[2021-04-16 21:16] thsfs commented on #2122
Added a PR for this in nano-docs repo: https://github.com/nanocurrency/nano-docs/pull/507

[2021-04-17 17:36] My1 opened #3207 "Idea: Deep pruning for dust and empty accounts"
So we have the big issue of having a metric ton of accounts with the spam attack now we have about 25 and a half MILLION accounts/frontier blocks, which is getting annoyingly close to half of the total block count of 66 Million when I started out running a node, I have no idea how many accounts there were exactly pre-spam but what I read on the discord it should be several Million. The issue with

[2021-04-17 18:02] clemahieu commented on #3207
Is there a reason to keep the signature when we don't have the content's that's been signed? We can't verify it against anything.

[2021-04-17 18:16] My1 commented on #3207
that's why the frontier hash itself is kept rather than the biggest part of the content. also future blocks need the parent hash which would be the current frontier hash, honestly I am not extremely deep in it all but sure if a node can see its own storage as trusted and has other ways of making sure that block data isnt accidentially or otherwise modifiedm the sig can be dropped too, and sure if

[2021-04-18 19:00] My1 commented on #3207
Adding for completeness, @qwahzi [had the pretty cool Idea](https://discord.com/channels/370266023905198083/405506987045158914/833376608924467291) of adding tables with the most common dust amounts for example if there are a few million accounts with 1 raw, that would save 8 bytes per account so maybe not too much currently, the bigger issue is that spammers who want to be annoying can easily get

[2021-04-19 01:26] ctkristek commented on #3207
Hello all. I am rather new here and I am really enjoying the amazing work you all are doing. My knowledge about nano, and more specifically the "dust" issue is limited, so please let me know if I am missing something here. It seems like issue right now is that nodes are having to process "dust" transactions which are so small in size, that spammers are able to generate millions of them at almost n

[2021-04-19 01:29] ctkristek commented on #3207
Oops. I see now that the issue is account balance and storing that. Would the same work for requiring a minimum account balance?

[2021-04-20 11:30] clemahieu opened #3216 "Merge X_or_pruned_exists functions in to their counterparts."
Having separate versions is unnecessary as they are supposed to compute the same result.

[2021-04-22 15:52] My1 commented on #3207
@ctkristek the problem with dust is not necessarily the transaction count as the basic pruning comes at least to passive nodes (aka those that dont vote), which means you only need to store the frontier (and unconfirmed stuff for the backlog) block of every account, as the frontier has all the info an account could literally ever need for getting the current information of it due to the state bloc

[2021-04-22 16:09] My1 opened #3227 "Idea (post-state-v2): Recieve by rep"
so the [State v2 Blocks](https://github.com/nanocurrency/nano-node/pull/2899) are seemingly decided to come into Nano, and they have a VERY nifty new field, the signer, which not only would make epoch signing easier (despite it being a very weird concept on the chain only you are supposed to be able to modify), it also allows for some other things, one of which I am proposing now.

one of the very

[2021-04-25 13:17] clemahieu opened #3233 "State block builders should be reinitialized to an empty state after build/build_shared."
Right now a call to make_block is required after build/build_shared but is implied in the constructor.

[2021-04-25 17:43] My1 commented on #3182
not sure if I understand properly, what's the point of having a "latest" version if it doesnt get the latest version all the time?

[2021-04-26 04:23] #3083 closed, assigned to argakiig

[2021-04-26 15:10] zhyatt commented on #3182
There is no point in having the tag available if it isn't updated, so perhaps it should be made more clear that the tag will be deleted from the Docker hub at some point to avoid confusion around its usefulness (for production at least, will remain on the beta side). Updated comment to reflect this.

[2021-04-26 16:31] My1 commented on #3182
and why not update it like normal?

[2021-04-26 17:09] dsiganos opened #3235 "Failing test case: qt_test wallet.status"
The test is failing because it is waiting for a wallet to attain the synchronising state.
Synchronising state is when a bootstrap attempt is in progress.

A boostrap attempt starts but it is abandoned immediately due to "pulling" being false.
The failure is caused by the commit:
https://github.com/nanocurrency/nano-node/commit/a3f15515431769467b9c7be1dbf7d0163cbdad64
a3f15515 ("Combine alarm and w

[2021-04-26 17:54] dsiganos commented on #3235
Possible solution. Calling it a possible solution because I do not think it is a good solution.
https://github.com/dsiganos/nano-node/commit/f7f1134d8b9cfce8a62eb5268212f9a48f3a89cd
It seems wrong to bypass the status check and add an observer directly into the node.

[2021-04-26 18:40] zhyatt commented on #3182
Having a `latest` tag for production releases makes it too easy to have unattended upgrades happen on the network. These unattended upgrades have some drawbacks, so avoiding these types of dynamic tags the following scenarios are improved:

- Help avoid a network attack vector where someone attempts to gain access to the Docker publishing to maliciously manipulate the node code and automatically i

[2021-04-26 20:56] My1 commented on #3182
okay I see makes sense.

[2021-04-27 14:58] #3182 closed, assigned to argakiig

[2021-04-27 15:03] zhyatt opened #3238 "Hardcoded block count cemented not total"
Currently using total count for this but should be using cemented going forward. Around line: https://github.com/nanocurrency/nano-node/blob/develop/ci/record_rep_weights.py#L33 which produces this file: https://github.com/nanocurrency/nano-node/blob/develop/rep_weights_live.bin

[2021-04-27 15:19] zhyatt opened #3239 "Remove frontiers confirmation start only after reaching cemented > hardcoded"
This requires #3238 for best performance.

[2021-04-27 16:25] My1 commented on #2122
if this goes through we definitely need some migration like file system permissions.

but why the user 1000? which is likely the first user on the host which might not be one that's supposed to mess with anything.

[2021-04-27 16:39] zhyatt commented on #3238
I think I was a bit confused in the above message, so can likely be ignored.

[2021-04-27 19:12] dsiganos opened #3241 "core_test distributed_work.fail_resolve"
The core_test distributed_work.fail_resolve fails every time on my computer.
Latest develop branch, commit db7540654844ff17e47024a9bf25339bd620c7bb

$ ./core_test --gtest_filter=distributed_work.fail_resolve
Running main() from core_test_main.cc
Note: Google Test filter = distributed_work.fail_resolve
[==========] Running 1 test from 1 test suite.
[----------] Global test environment set-up.
[----

[2021-04-27 19:59] dsiganos opened #3242 "core_test election.quorum_minimum_confirm_success"
The core_test election.quorum_minimum_confirm_success fails sometimes.
If I run it in a loop 1000 times, it usually fails at least once.
It fails a lot more often, if I start nano_node on the same machine.

Latest develop branch, commit db75406

[code]

[2021-04-27 20:01] dsiganos commented on #3242
[code]

[2021-04-27 21:40] B3g commented on #3207
I don't know if it would be possible, or if someone had proposed it in the past, but making it more difficult to open an account with something like a super POW, I guess it would limit spam attacks and some ddos attacks?

[2021-04-27 22:00] My1 commented on #3207
while that is certainly an idea it's its whole own issue, and with v22 seeming to kill PoW to make nano TRULY feeless and all, not sure if that would check out.

[2021-04-27 22:16] dsiganos commented on #3242
I believe the election scheduler needs a flush after this line:
https://github.com/nanocurrency/nano-node/blob/9e04e156b549daf39b94fd76df8d59fe99e5dd06/nano/core_test/election.cpp#L134

[2021-04-27 23:35] dsiganos commented on #3242
The tests:
* election.quorum_minimum_confirm_fail
* election.quorum_minimum_update_weight_before_quorum_checks
also have the same problem.

[2021-04-28 08:30] dsiganos commented on #3242
Fixed

[2021-04-28 08:30] #3242 closed, assigned to nobody

[2021-04-28 09:13] B3g commented on #3207
you can see if it is possible to make the first transaction of a new account difficult, perhaps giving them a pre-established low priority perhaps even of 1 day (an example), because the ease of opening new accounts makes an attacker very agile in the network

[2021-04-28 09:14] My1 commented on #3207
I dont know anything about this but that should really be its own issue because it doesnt directly relate to the deep pruning itself.

[2021-04-29 03:32] SparK-Cruz commented on #3239
Is this a pre-condition for #3238 ?

[2021-04-29 14:16] zhyatt commented on #3239
They are a related so it would be best to have them both in. Will add that to the description.

[2021-04-29 18:05] zhyatt opened #3245 "Active elections container adjustments"
The following changes will be made to help improve election behaviors when being inserted into the active elections container after the [Election Scheduler](https://github.com/nanocurrency/nano-node/pull/3208) has prioritized them for confirmation.

- [x] Reduce the active elections container size to 5k - this will be evaluated for potential adjustment after DB15 testing
- [x] Remove difficulty or

[2021-04-30 00:35] dsiganos opened #3247 "core_test node.aggressive_flooding fails around 30% of the time on my PC"
[code]

[2021-04-30 00:40] dsiganos opened #3248 "core_test active_transactions.inactive_votes_cache_election_start fails around 5% of the time on my PC"
[code]

[2021-04-30 17:43] dsiganos commented on #3238
This is what I am doing:
1) Run a node on V21.3RC2 until reasonable synced
2) Make the following change to script record_rep_weights.py
[code]
3) Run the script against the synced V21.3RC2 node in step 1) to create the file rep_weights_live.bin
4) Commit rep_weights_live.bin to git

[2021-04-30 20:20] thsfs opened #3255 "Break up the block_store tables into their respective classes"
The current implementation of block_store class is too big. It could be improved by cutting off any duplicated code for table handling, and also by making the classes to follow the SRP.

[2021-05-03 17:00] thsfs commented on #3216
Fixed by Remove x or pruned exists fn #3249

[2021-05-03 17:00] #3216 closed, assigned to thsfs

[2021-05-03 18:25] dsiganos commented on #3191
By using git bisect, I can see that the stop RPC command was broken by the following commit:

[code]

[2021-05-04 14:44] dsiganos opened #3261 "core_test confirmation_height.gap_live can hang (happens rarely on my computer)"
Both Sergei and I have seen confirmation_height.gap_live test hang.
Here is a backtrace for it when it is hang.

[code]

[2021-05-04 14:48] dsiganos commented on #3261
This hang might be related to the stop bug since they both hang on node stop:
https://github.com/nanocurrency/nano-node/issues/3191

[2021-05-04 19:36] #3245 closed, assigned to SergiySW

[2021-05-05 05:27] My1 commented on #1792
I think this is awesome, especially if the config-rpc can be reloaded, e.g. to start a lazy bootstrap (which requires RPC control) without being down for a while due to a restart

[2021-05-05 13:07] damianof opened #3263 "Critical Bug: Pending transactions never complete"
Inbound transaction from Kraken Hot Wallet show "confirmed" but funds never made it to the destination cold wallet here nano_394juhhmkeg9badbpambgt4bwst7mksatpythfxr3uuaboydwdup3mrx71gr:

https://nanocrawler.cc/explorer/block/6FF0057F42FD4059DD85CABFE40A2EB1AB86F0C24B6C4023D9614A1C1E17A3D3

Here you can see it showing Pending (it has been like this for days)
https://nanocrawler.cc/explorer/account

[2021-05-05 13:24] qwahzi commented on #3263
This isn't a bug - the receiver (Kraken) has to broadcast a receive transaction. When you make a send transaction, the receiver has to create a corresponding receive transaction in order to be able to spend those funds. If they don't do that, the transaction stays pending indefinitely. In this case you'll probably have to reach out to Kraken, though they may be waiting until the V22 release to re-

[2021-05-05 13:37] #3263 closed, assigned to nobody

[2021-05-05 13:47] zhyatt commented on #1792
Note the initial implementation of this will be restricted to certain config values being allowed to be changed and being able to do so through RPC specifically is not available in this initial setup for V22 I believe.

@theohax @dsiganos Can you share which config values are setup to allow changing in V22? And also how this signal is sent to the node to reload?

[2021-05-05 15:01] zhyatt opened #3264 "Election prioritization test cases"
The [election scheduler](https://github.com/nanocurrency/nano-node/pull/3208), [active elections container adjustments](https://github.com/nanocurrency/nano-node/issues/3245) and other changes in recent DBs will result in new prioritization and election handling behavior by the node. Here are some notes on functionality to help better understand these behaviors:

- Scanning of unconfirmed blocks i

[2021-05-06 03:40] My1 commented on #1792
@zhyatt I think you misunderstood me a little. I am not planning to use RPC to do the reload, but just would sent the sighup via the bash I can launch via docker exec. being able to just RPC in some process signals sounds kinda crazy anyway.

my current main issue is that if I need to do some commands that need RPC control I always need a full restart of the node which is just annoying and if I co

[2021-05-06 15:04] theohax commented on #1792
AFAIK, at least in the PR which I had created earlier, only `bandwidth_limit` and `bandwidth_limit_burst_ratio` were allowed to be updated. Also, the signal can be just sent to the `nano-node` process once the config file has changed and the process would re-read the file. Please correct me @dsiganos if the [new implementation](https://github.com/nanocurrency/nano-node/pull/3257) differs in any wa

[2021-05-06 15:23] dsiganos commented on #1792
Doing a complete config reload is too difficult at this point in time.
We added code to reload only the bandwidth_limit and bandwidth_limit_burst_ratio when a SIGHUP is received.
This functionality does not exist on Windows.
There is also existing functionality that reload the IPC config on receipt of SIGHUP.

[2021-05-07 13:09] Joohansson opened #3266 "Deprecate RPC active_difficulty instead of removing it"
The https://docs.nano.org/commands/rpc-protocol/?h=active#active_difficulty was removed in v22DB15 which results in a parsing error for services that rely on this feature.

It might make more sense to instead more softly phase it out by reporting default values, by deprecating it. That way services won't crash when calling it and since the difficulty doesn't matter anyway it should not cause any p

[2021-05-07 22:29] bjbituin opened #3268 "Why i didnt receive my namo through my deposit?"
**Description of bug:**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Environment**:

**logs**

[2021-05-08 13:07] #3268 closed, assigned to nobody

[2021-05-09 15:25] PapauloGamerOfc commented on #3266
Why is this issue still opened if the PR was already merged?

[2021-05-10 13:58] #3266 closed, assigned to SergiySW

[2021-05-10 15:25] zhyatt commented on #3041
Tests conducted in DB13 on beta network cover key scenarios required

[2021-05-10 17:52] cryptocode opened #3271 "release_assert in pruning node"
Qwahzi mentioned his pruning lmdb beta node crashed, and with his exact setup I was just able to reproduce.

Crash happens in path `election_scheduler::run -> active_transactions::insert_impl -> ledger::balance -> release_assert (block);`

So the block is no longer there.

I think it's because of the following in `active_transactions::insert_impl` :

[code]

The read transaction is not passed in t

[2021-05-12 14:21] keerifox commented on #3175
closed by #3276

[2021-05-13 13:53] #3271 closed, assigned to SergiySW

[2021-05-13 13:54] zhyatt commented on #3238
Closed by #3254

[2021-05-13 13:54] #3238 closed, assigned to clemahieu, dsiganos

[2021-05-13 13:54] zhyatt commented on #3239
Closed by #3246

[2021-05-13 13:54] #3239 closed, assigned to SergiySW

[2021-05-13 13:56] zhyatt commented on #1792
This ticket is broader than the existing #3257 and other signal management tasks. Moving to V23

[2021-05-13 17:20] #3045 closed, assigned to argakiig

[2021-05-14 09:52] dsiganos opened #3285 "unit test network.last_contacted is faulty"
### Summary

The unit test network.last_contacted has the following problems:
* regular keepalive messages sent automaticaly can interfere with the test
* the test should wait for the clock to move at least one tick to eliminate the possibility of the clock not having the time to move forward
* the test waits for a the keepalive counter to be incremented and then expects the last_packet_received t

[2021-05-14 16:26] dsiganos opened #3288 "Unit test active_transactions.confirm_active fails occasionally"
### Summary

Unit test active_transactions.confirm_active fails occasionally.

Here is one such failure:
[code]

### Node version

33a974155ddf4b10fc3d2c72e4c20a8abe514aef

### Build details

Manual debug build

### OS and version

Ubuntu 20.04

### Steps to reproduce the behavior

./core_test --gtest_filter=active_transactions.confirm_active --gtest_repeat=1000 --gtest_throw_on_failure

### Expec

[2021-05-14 17:02] dsiganos opened #3289 "Unit test telemetry.remove_peer_different_genesis_udp fails on occasion (rarely)"
### Summary

Unit test telemetry.remove_peer_different_genesis_udp fails on occasion (rarely). Here is one such failure:

[code]

### Node version

33a974155ddf4b10fc3d2c72e4c20a8abe514aef

### Build details

Manual debug build

### OS and version

Ubuntu 24.04

### Steps to reproduce the behavior

./core_test --gtest_filter=telemetry.remove_peer_different_genesis_udp --gtest_repeat=10000 --gtest_

[2021-05-14 19:25] My1 opened #3290 "Allow for direct 21 lmdb -> 22 Rocks migration"
### Summary

basically allow users to skip the v22 LMDB migration if a migration to rocks is intended anyways

### What problem would be solved by this feature?

nodes with not that crazily much free space cannot upgrade to v22 without re bootstrapping or downloading a db from somewhere which obviously not how a decentralized system should run.

### Are there any previous requests for this feature

[2021-05-14 22:09] #3007 closed, assigned to nobody

[2021-05-14 22:09] #3264 closed, assigned to nobody

[2021-05-14 22:09] #3041 closed, assigned to nobody

[2021-05-14 22:10] #3008 closed, assigned to nobody

[2021-05-15 16:54] dsiganos commented on #3289
This test fails when a telemetry ack message is delayed for more than 3 seconds.
This can happen occasionally on very high load.

To reproduce the problem everytime, make this change:
[code]

[2021-05-15 16:58] dsiganos commented on #3289
When a telemetry request times-out, the callback registered with get_metrics_single_peer_async() is called with the error flag set.
However, the test expects the error flag to be set anyway because of the genesis block mismatch so it cannot distinguish between a missing telemetry ack and a bad mismatched genesis error. And even it could distinguish, it still would be tricky to handle. The reasonab

[2021-05-15 19:34] braydofficial opened #3291 "Database migration of V22.0 doesn't use full performance and takes more than 24 hours"
### Summary

Hello,
I talked with several users about this issue now and the only problem they had, was, that the database migration took 4+ hours (8 hours in the case of one person). However, I did the update to my node, which is running with 10 CPU cores and 48GB RAM. The server is a dedicated server with an SSD.
The process of the update is working as it should, but the database migration proce

[2021-05-16 02:23] manhlicious commented on #3291
Do you have a lot of free space on the SSD? Since the SSD performance will reduce if there are little free space left

[2021-05-16 07:59] MajorChump opened #3293 "Cementing of blocks stalling preventing node from ever catching up"
### Summary

I've been investigating why my node's cementing has stayed in the same range for weeks. I originally thought it was due to 21.3 but my node is now running v22.

Using the logs I can restart the node and it runs really well, everything starts cementing and then it stops. See the log attached.

Cementing stops around 07:43:06 - At this time a number of things happen. We get the followin

[2021-05-16 08:52] MajorChump commented on #3293
I've fixed the UPNP errors showing in the logs by setting the external address and port in config. The issue still happens. It seems to happen at the same point.

See new log attached. The issue occurs at this line

[2021-May-16 08:46:18.468610]: Beginning pending block search

[node2.txt](https://github.com/nanocurrency/nano-node/files/6488922/node2.txt)

[2021-05-16 09:43] braydofficial commented on #3291
Hello, the SSD has about 800GB free space left, so this shouldn't be the issue I guess.

[2021-05-16 10:34] braydofficial commented on #3291
A short follow up:
The update is now finished after about 2 days. The node is now back up and running again with full power and is also voting. Somehow I had to bridge the nano node monitor and the node, so that the nano node monitor was working again.

However, I'm still left with the question if the extremely long update process was a weird bug of the current version, that only happens with a sm

[2021-05-16 20:02] My1 commented on #3293
this may be in part due to the current quorum issue with the upgrade, but not sure.

[2021-05-17 16:10] DarrenAlex opened #3294 "Bootstrapping blocks slowly crawl to a halt"
### Summary

When bootstrapping blocks, slowly the number of blocks fetched/downloaded per second goes down.
As an example, when I first started fetching blocks from other peers, I downloaded 2,000 blocks/second.
After hitting 21.3 million blocks (60 million for someone else), it slowed down to 20-30 blocks/second.

Local device resources seem to be fine

### Node version

V22.0

### Build details

[2021-05-17 16:12] qwahzi commented on #3294
Same issue for me with multiple nodes/bootstrapping attempts (Centos 8). The slowdown happens around ~59-60M blocks for me though. In the last 4 hours, I've only gained ~100 counted blocks.

[code]

Not sure if related, but I see a bunch of these messages in the logs:
[code]

[2021-05-17 16:23] DarrenAlex commented on #3294
I also receive those messages in the log file. I've uploaded the log files (only lines which contain the word "bootstrap") to https://node.erawan.me/log.txt

The only difference is that the counted and cemented blocks are stuck at 1 for me.
If you sum them all up, it's close to the network's total blocks. Is the cemented block number going up?

[2021-05-17 18:51] MajorChump commented on #3293
Been monitoring the situation throughout the day. Couple of thoughts what might be causing the quorum issues.

My peers_stake_total has reached 92m from 74m and my confirmations have increased 10x - 20x. This shouldn't matter though because the online_stake_total has been pretty steady at 103m. The votes should be the same if the gossip votes are working correctly but they must not be arriving for

[2021-05-17 21:52] ghost opened #3295 "UPnP leases not created/refreshed ?"
### Summary

UPnP leases are not created / refreshed for me in V22. Conditions for creating a lease seems to be OK. IGD devices are found:
[2021-May-17 21:15:42.807454]: UPnP local address: 192.168.1.230, discovery: 0, IGD search: 1
[2021-May-17 21:15:42.807454]: UPnP device url: http://192.168.1.251:39446/rootDesc.xml st: urn:schemas-upnp-org:device:InternetGatewayDevice:1 usn: uuid:ef526755-528c

[2021-05-18 03:57] DarrenAlex commented on #3293
I'm having the same issue. Unchecked blocks pile up and the rate at which cemented blocks are generated slow down.

[2021-05-18 17:44] ghost commented on #3295
I was able to confirm that UPnP leases are created properly if I remove the second part of the if-expression, and running a recompiled node. Then I can see the following (new entry) in the log:

[2021-May-18 17:31:37.666290]: UPnP TCP port mapping response: 0
[2021-May-18 17:31:37.667292]: UPnP <REMOTE IP>:54000 mapped to 54000

[2021-05-18 19:02] qwahzi commented on #3293
@m-king Given the UPnP mentions in your logs, perhaps you're affected by this UPnP issue?

https://github.com/nanocurrency/nano-node/issues/3295

[2021-05-18 20:08] MajorChump commented on #3293
I don't get the UPNP errors anymore. After setting the external_address and external_port to my config file. Once these are added it skips all the UPNP code.

[2021-05-19 19:08] BatuAksoy commented on #3291
Same situation on our node too. Process is stuck at `Write state blocks to new format` for more than 2 days.

CPU and memory usage is stable. Disk space is enough, Disk read is around 30M/s and Disk write occasionally raises 150+ M/s and drops back.

[2021-05-19 19:23] braydofficial commented on #3291
Sad to hear, but at least good to know, that it then seems to be a bug of the current version that only appears sometimes instead of being an issue at my end. Hope this thread will help the devs to find and maybe fix the issue in some way.

[2021-05-19 22:44] thsfs commented on #3295
Please check whether these changes makes sense:
https://github.com/nanocurrency/nano-node/compare/develop...upnp_leases_issue?expand=1

The implementation is leading to UPNP_GetSpecificPortMappingEntry failed 714: NoSuchEntryInArray

Captured log:
[2021-May-19 19:32:08.011936]: Exiting legacy bootstrap attempt with ID auto_bootstrap_0
[2021-May-19 19:32:08.012175]: IPC: server started
[2021-May-19

[2021-05-20 08:45] atomlab commented on #3294
The same problem!

[2021-05-20 08:50] smithy9901 commented on #3294
+1

[2021-05-20 10:53] DarrenAlex commented on #3295
I don't see an external IP in your logs. Try adding `external_address = "::ffff:99.99.99.99"` (replace 99.99.99.99 with your external IP) and `external_port = 7075` under the `[node]` section in `config-node.toml`. This resolved the issue for me

[2021-05-20 12:46] qwahzi commented on #3294
My CentOS 8 node (RocksDB) suddenly caught up on count (from 70M to 117M) overnight. On V21.3 with LMDB, the same node was stuck at <60M count for over a month
[code]

My Windows 10 RocksDB + pruning node is still stuck:
[code]

[2021-05-20 15:43] ghost commented on #3295
@thsfs : I think that the changes makes sense, in that will enable leases at startup to be created again. But I wonder, won't the scheduled refresh created by refresh_mapping() already handle to renew leases?

I wonder a bit what the original purpose of adding the remaining lease time check in check_mapping was (in https://github.com/nanocurrency/nano-node/pull/3035)? Before #3035, check_mapping()

[2021-05-20 16:17] dsiganos commented on #3295
Hi @sudokai0, your analysis makes sense to me. I think refresh_mapping spawned from inside refresh_mapping should not be needed since there is an outer loop checking regularly. We just have to make sure that the outer loop checks at least twice as fast as the lease time. Currently it checks every 5 minutes irrespective of the lease time.

[2021-05-20 20:28] thsfs commented on #3295
Thanks for your inputs @sudokai0 , I added a PR for this https://github.com/nanocurrency/nano-node/pull/3298 with some changes, but I'm afraid there is still more work to do, because despite all this implementation, I noticed that the leasing time is not getting refreshed sooner.

[2021-05-20 20:49] thsfs commented on #3295
the port is different (17075) because I ran it on a different network. The external IP address is this "187.20.X.Y" with the end changed to X.Y.

[2021-05-21 19:02] qwahzi commented on #3166
Related to this - the default behavior for auto-receives should be not to happen for unconfirmed sends, no?

[2021-05-22 17:03] donutloop opened #3299 "Dockerfiles: upgrade from Ubuntu 18.04 to 21.04"
### Summary

Please consider upgrading the docker ubuntu version to the newest version for all docker files based on ubuntu.

Ref: https://hub.docker.com/_/ubuntu?tab=description&page=1&ordering=last_updated

Files:

* https://github.com/nanocurrency/nano-node/blob/develop/docker/node/Dockerfile#L20
* https://github.com/nanocurrency/nano-node/blob/develop/docker/ci/Dockerfile-base#L1
* https://git

[2021-05-22 17:20] argakiig commented on #3299
Ubuntu 18.04 is end of lifed April 2023 and so still gets regular updates. I would be interested in working with you to make the transition happen, although I suspect an 18.04 base will remain at least for the unit tests as that provides a level of certainty we haven't prematurely ended support for Ubuntu 18.04 early

[2021-05-22 23:07] donutloop commented on #3299
Ubuntu release cycle consists of multiple phases

![ubuntu](https://user-images.githubusercontent.com/9432921/119243040-9b80d480-bb63-11eb-9160-193f42f858f9.png)

Ubuntu 18.04 status

* Hardware and maintenance updates (ended)
* Maintenance updates (still running)
* Extended Security Maintenance (ESM) (still running)

Ref: https://ubuntu.com/about/release-cycle

[2021-05-23 20:02] ghost opened #3300 "Reorganize File Structure"
### Summary

I’m completely new to this repo and trying to get familiar with the code. The code looks pretty clean, but the file structure looks pretty massy to me.

At a glance, it looks like there’s some processes running in deamon, there’s some UI, there’s some interactions with the server, there’s some ci/build, and there’s some unit tests. However, all these are mixed in different places with

[2021-05-24 02:18] #3300 closed, assigned to nobody

[2021-05-24 06:57] argakiig commented on #3299
![image](https://user-images.githubusercontent.com/6511720/119308674-33dd8e80-bc22-11eb-8621-ee110e4afc0d.png)
Ref: https://wiki.ubuntu.com/Releases

Acutally upon further looking it does look like I misspoke regarding EOL on 18.04 which occurs 2028 not 2023 as originally stated.
I would still gladly work with you on on PR's submitted as I know we would also need to update some of the static cache

[2021-05-25 10:45] Falsen commented on #3291
This happend on our node too. I created a new droplet on DO for the upgrade (16 GB RAM, 320 GB SSD), it ran for 3 hours before I stopped and am now retrying on a new node. (I thought that something had gone wrong). The node never used more than 2% CPU, 20% RAM, and the disk usage slowly increases up from around 20%. Disk write is around 15 MB/s, should be able to do much more. Will see how it goes

[2021-05-25 19:23] #3295 closed, assigned to argakiig, thsfs

[2021-05-25 19:23] thsfs commented on #3295
Code already merged (#3298)

[2021-05-26 04:05] michaeljs1990 commented on #3294
Running into the same issue.

[code]

Gets to this point and now it's slowed to a crawl that will never catch up.

I did catch this in the logs but I'm not sure if it matters.

[code]

In addition I'm only at 43% synced shown by the nano node stats monitor and have database size of 100G. Is nano really already at over 200G for it's blockchain size?

My node has had consistent memory, cpu, and disk

[2021-05-26 13:35] PapauloGamerOfc commented on #3227
I can think of some problems with this.

1. **Fork**: a fork can happen in the case that someone makes an account_info RPC to get the frontier and publishes a block, but at the same time the representative publishes a receive-by-rep block. And we already know the problems of the fork, like the block that the user created not being confirmed etc.

2. **Spam**: Let's first assume that the representa

[2021-05-26 13:54] qwahzi commented on #3294
I had the same message in my logs when my Windows 10 node disconnected:

![image](https://user-images.githubusercontent.com/3682613/119671715-9b9d0080-bdff-11eb-9661-efd9f5c3a882.png)
[code]

After restarting the node again and leaving it for another week, it seems to be making some progress:
[code]

---

Centos 8 node full sync status update:

[code]

[2021-05-26 14:19] My1 commented on #3227
well sending a ton of 1 raws can be devastating in many ways (e.g. pending sends cant be pruned away
also fork issues can be prevented by ensuring a hard priority on owner blocks. that ensures that if a rep is bad the owner can just fork it away.
also creating a fork at some place in unconfirmed by the owner ensures in the same way that a rep cannot accidentially or maliciously make too many probl

[2021-05-27 06:06] michaeljs1990 commented on #3294
You can download the latest bootstrap database file [from here](https://drive.google.com/drive/folders/1sP1z9S011f1W_0nK1KJ-UCJbjaNmk8GQ) and then start up the node. Took me about an hour between download and extract of the 7z file and then I was at 100% a few minutes after starting. Doesn't fix the underlying issue but if you are trying to get a node up and running it's the fastest way right now.

[2021-05-27 20:49] dsiganos opened #3313 "Assertion (node.network_params.network.is_dev_network ()) failed (beta network)"
### Summary

When I try to run the latest develop on the beta network, I get this assert everytime.
something must be in my ledger or the network because it does not have happen with an empty ledger.
This is the output form nano-node:

[code]

Thsi is the callstack:
[code]

### Node version

aec8d805edbc9a8054370bdfda1094d50127e498

### Build details

Debug Build

### OS and version

Ubuntu 20.04

[2021-05-27 21:02] dsiganos commented on #3313
This is what happens:
in nano::election_scheduler::run():
overfill_predicate () is true
node.active.erase_oldest () is called
which calls cleanup_election()
which calls election.blocks()
which asserts if it is not on dev network

[2021-05-28 02:12] DarrenAlex commented on #3294
The whole point of bootstrapping is to not use the ledger download.

[2021-05-28 14:08] regfaker commented on #3294
Same jump here, I've been on 72M/70M count/cemented at 7:13 today and now at 119M/77M count/cemented at 14:04. Days before it was crawling slowly with only hundreds of count increase in hours.

(RocksDB)

[2021-05-28 16:21] michaeljs1990 commented on #3294
I agree but if your goal is to get a node running that looks to be the only way to get one up and running before the network started moving a bit faster. In the end if the bootstrap file was bad your blocks would be rejected by the network anyway.

[2021-05-29 07:59] keerifox commented on #3313
wasn't this fixed in #3311 ?

[2021-05-29 15:20] #3313 closed, assigned to nobody

[2021-05-30 14:16] qwahzi commented on #3294
Centos 8 node status update, after 17 days:
[code]

---

Windows 10 node status update (still pretty stuck):

[code]

[2021-06-01 15:54] DarrenAlex commented on #12
Since the recent mention of a plug-and-play node, I think adding an apt installation method would be really easy.

[2021-06-02 13:03] Joohansson commented on #3294
Same here, windows. 14 days. Confirming at 30 cps.

![image](https://user-images.githubusercontent.com/2406720/120484806-b816db00-c3b3-11eb-8b96-d26ba4846bc1.png)

[2021-06-02 13:08] qwahzi commented on #3294
Both of my nodes are now unstuck and getting pretty close:

Centos 8:
[code]

---

Windows 10:
[code]

[2021-06-02 22:17] My1 commented on #3207
okay after revisiting my calculations I have honestly no idea how I arrived at the 2,1GB number but scratch that.
taking some data from my node we have about 120 429 000 blocks, for convenience let's just say 120,5 Million. each block per the aforementioned blocks is 216 bytes so `120,5 Million blocks * 216 bytes/block / (1024^3 Bytes/GiB) = 24,2GiB` raw block space in total (which obviously is le

[2021-06-02 22:26] My1 opened #3321 "Idea: Exclude accounts with dust amounts from rep/vote weight calculations"
### Summary

well the title says it all, basically seperate accounts with dust amounts of nano (e.g. less than 2^64 raw) and ignore their rep setting and therefore vote weight

### What problem would be solved by this feature?

potential performance issues in calculating vote weights or listing delegators as there are [basically 97,5% of accounts holding a totality of practically nothing](https://

[2021-06-03 05:31] Joohansson commented on #3294
Mine started to move now as well, 5000 bps. Block count 92M
Edit day 16: Still 31M unconfirmed

[2021-06-03 12:30] clemahieu commented on #3321
The rep weights are stored in memory when running. From a node operation perspective the only performance impact is scanning the accounts table on startup. Listing delegators isn’t an operation the node needs to perform so I see this as a secondary goal. Storing accounts in two tables would require 2 db lookups per account operation so there’s a performance hit there and this is in the critical pa

[2021-06-03 12:36] My1 commented on #3321
interesting. also very useful would be how long it would take for the small table of "normal" accounts to fail before searching the big one of the dust and empty

[2021-06-03 20:07] mistakia opened #3322 "Feat: Include block sideband data in websocket messages"
### Summary

Include block sideband data (`local_timestamp` and `height`) in websocket messages for related topics like `confirmations` and `new_unconfirmed_block`.

### What problem would be solved by this feature?

Would save an RPC request.

### Are there any previous requests for this feature?

None that I could find

### Do you have a suggested solution?

Provide it as a potential option on s

[2021-06-04 21:47] keerifox opened #3323 "Bug: Mismatching type of difficulty_trend in deprecated active_difficulty call"
### Summary

`difficulty_trend` returns a `string` rather than an `array`, which caused issues in some wallets relying on it, e.g gonano wallet:

### Node version

Nano V22.0

### Build details

several community-ran nodes

### OS and version

several community-ran nodes

### Steps to reproduce the behavior

make an RPC call
[code]

### Expected behavior

expected to produce a list as per [docs pa

[2021-06-06 13:16] qwahzi commented on #3294
My Centos 8 node officially finished syncing from scratch last night (sometime in the last 12 hours). For some reason it kept restarting itself roughly once a day over the last week, but there were no details in the logs
[code]

---

My Windows 10 node is still going, but making progress:
[code]

[2021-06-08 13:46] Joohansson commented on #3294
I still have 21M to confirm and mostly doing 25-30 cps so I give up. It was just an experiment but simply taking too long for me.

[2021-06-11 13:15] gr0vity-dev commented on #3322
Create a commit on my forked nano-node which adds these features :
https://github.com/gr0vity-dev/nano-node/commit/81ef11956c65bceb35219f10307f3a6b3f219cee
Also added the `hash` for `new_unconfirmed_block` because I think it's useful.

However I got no clue (yet) how to do a pull request. And not sure (yet) how to run the TEST cases.
New to this git stuff... Will figure it out eventually.

[2021-06-11 13:32] dsiganos commented on #3322
To run the test cases, if you are using my nano-workspace, which I think you are, do the following:
[code]
You can also run specific test cases:
[code]

You can make it repeat:
[code]

[2021-06-11 13:36] dsiganos commented on #3322
To create a pull request:
* go to https://github.com/nanocurrency/nano-node/pulls
* click "New Pull Request"
* click "compare across forks"
* in head repository, sleect your forked repository and branch

[2021-06-12 04:46] shryder opened #3330 "Limit and add optional "offset" & "count" parameters for "delegators" RPC"
### Summary

Limit the amount of delegators returned by the "delegators" RPC and add the optional parameters "offset" and "count".

### What problem would be solved by this feature?

If I send multiple "delegators" RPC commands to my node for the rep NF#1 for example (it has ~16 million delegators)
1. If the server is not strong enough, it would crash after few requests. 100% disk and cpu load. (I

[2021-06-13 03:17] shryder commented on #3330
The `account_history` RPC action has the `count` parameter required. Should it be the same for this RPC?

[2021-06-13 08:49] shryder commented on #3323
This RPC command is now marked as deprecated.

[2021-06-14 22:05] #3255 closed, assigned to thsfs

[2021-06-16 01:32] #3330 closed, assigned to nobody

[2021-06-16 10:07] keerifox commented on #3323
that's what the title of this issue says yes

methods are deprecated to allow to transition away from using them, if there's a breaking change that causes existing integrations to malfunction then it defeats the purpose

[2021-06-16 10:13] dsiganos opened #3339 "Counting of voting representatives is wrong (no check for duplicates)"
### Summary

The function rep wallets::rep_check() did not check for duplicates when adding a voting representative and the count of voting representatives could therefore be much bigger than the reality.

### Node version

V22.1

### Build details

Manual build.

### OS and version

Ubuntu 20.04

### Steps to reproduce the behavior

1. Run test case node.rep_self_vote it fails about once in a 100

[2021-06-16 10:19] shryder commented on #3323
My bad, didn't notice it in the title.

[2021-06-16 10:23] shryder commented on #3323
Looks like the RPC was [completely removed](https://github.com/nanocurrency/nano-node/commit/9982779c1bbf8c108ade266352f62abab5ca9083#diff-29873a42cf5fc94715ac705d456a6f7a762ff89b1d5109bae53f86002e5a6935L1012) and then got [re-added in](https://github.com/nanocurrency/nano-node/commit/69f7f523ac24829bee8db71c04405d9471faee29#diff-29873a42cf5fc94715ac705d456a6f7a762ff89b1d5109bae53f86002e5a6935R102

[2021-06-16 10:43] dsiganos opened #3342 "The voting representatives counter is read without mutex protection"
### Summary

The counter of class wallet_representatives is not always read with the proper mutex protection.
nano::wallets::compute_reps is called at regular intervals and resets the counter and therefore it is important to read the counter with some protection.

It is possible that the an account that the node mistakes an account that has voting representatives as an account with no voting repre

[2021-06-16 17:41] mistakia commented on #2176
AFAIK it should return all the reps found by the rep crawler as the default weight filter is zero:

https://github.com/nanocurrency/nano-node/blob/baa7f4386a2c9967e6a8f64c034b04910b39a6ba/nano/node/json_handler.cpp#L2018-L2027

https://github.com/nanocurrency/nano-node/blob/baa7f4386a2c9967e6a8f64c034b04910b39a6ba/nano/node/repcrawler.hpp#L108-L109

Checking the RPC response of `confirmation_quoru

[2021-06-17 08:22] argakiig commented on #12
the deb artifact is included in releases now as well, its just a matter of backing a repo for it now

[2021-06-17 08:40] argakiig commented on #12
are you meaning something modular as in separating the wallet and node from each other? like with the external rpc server thats bundled with release artifacts? I should update the documentation to reflect the steps to install via deb though as well for example
[code]
this install adds a user nanocurrency and creates a group nanocurrency and service for nanocurrency running as nanocurrency in the n

[2021-06-17 10:25] labmir commented on #895
`Link as account is just a different representation of the link field. ` What is the use of that?

[2021-06-17 13:13] dsiganos opened #3346 "In github CI, the results of RPC, QT and load tests are not checked"
### Summary

In github CI, the results of RPC, QT and load tests are not checked.

### Node version

V22.1

### Build details

manual

### OS and version

any

### Steps to reproduce the behavior

Check github ci builds. You will see that the load test has been failing for a long time but the result dos not affect the overall outcome.

### Expected behavior

CI test should fail

### Actual behavio

[2021-06-20 18:37] shryder opened #3348 "Return proper types in RPC"
### Summary

I think this is a really breaking change and unneeded right now but just wondering what you guys think about RPCs returning an empty string instead of an empty array/object.

Example RPC request:
If the account was opened, the `history` field will be a populated **array**:
https://node.shrynode.me/api?action=account_history&account=nano_1nk9zdf1otddxhxfqimjdkmbtq17yzf3z6giz1as7x1huyug

[2021-06-20 18:50] shryder commented on #3348
Just found an old issue, this is apparently planned as part of [RPC 2.0](https://github.com/nanocurrency/roadmap/issues/9
): https://github.com/nanocurrency/nano-node/issues/1871

[2021-06-21 08:19] clemahieu opened #3349 "Don't use ephemeral TCP ports for beta listening port."
### Summary

https://en.wikipedia.org/wiki/Ephemeral_port

### What problem would be solved by this feature?

https://en.wikipedia.org/wiki/Ephemeral_port

### Are there any previous requests for this feature?

.

### Do you have a suggested solution?

.

### If this feature is approved, would you be willing to submit a pull request with the solution?

I would

### Possible solution

_No response_

[2021-06-22 21:27] zhyatt commented on #3323
Fixed by #3343

[2021-06-22 21:27] #3323 closed, assigned to nobody

[2021-06-22 21:53] zhyatt commented on #3339
Closed by #3340

[2021-06-22 21:53] #3339 closed, assigned to nobody

[2021-06-22 21:55] zhyatt commented on #3342
@dsiganos Is this the issue discussed today which may #2533 may be related to?

[2021-06-23 17:27] dsiganos commented on #3342
@zhyatt yes, that's the one.

[2021-06-29 18:51] zhyatt commented on #2176
@dsiganos Could this be related to any of the recent half rep check fixes you put in #3358 ?

[2021-06-29 22:09] dsiganos commented on #2176
It is probably not directly related but I can probably look at it since I am digging around in that area at the moment.

[2021-06-30 10:45] dsiganos opened #3360 "active_transactions.vote_replays fails about 1 in every few hundred iterations on my computer"
### Summary

Note: Google Test filter = active_transactions.vote_replays
[==========] Running 1 test from 1 test suite.
[----------] Global test environment set-up.
[----------] 1 test from active_transactions
[ RUN      ] active_transactions.vote_replays
/home/ds/nano/branches/develop/nano-node/nano/core_test/active_transactions.cpp:533: Failure
Expected equality of these values:
  1
  node.activ

[2021-06-30 14:27] dsiganos commented on #3360
fixed
9ea96357dd51d0e9cfa64535633c82e3175e3985

[2021-06-30 14:27] #3360 closed, assigned to nobody

[2021-07-04 13:47] JohnGarnham commented on #3294
Same here. Syncing my node was taking way too long and after a few days I just gave up and manually downloaded the ledger. Glad it's not just me!

[2021-07-14 15:25] anarkrypto commented on #267
2021, where is the nano logo svg ?

[2021-07-18 09:08] keerifox commented on #267
https://nano.org/resources#media-kits

[2021-07-18 13:27] Exxenoz commented on #3294
My experience with V22.1: It took a few days to request all unchecked blocks, but cementing was stuck at around 1-2 blocks per second. After a week and around 2mln cemented blocks I gave up and downloaded the MyNanoNinja ledger. My node was synchronized after less than two hours, even though the node still had to request and cement a few 100k blocks.

[2021-07-20 20:05] ApolloNano opened #3382 "Delays before pending blocks show up"
### Summary

On my node I sometimes get pending blocks very delayed. I couldn't pinpoint what exactly causes it.

Sometimes it takes 8-10 hours before a confirmed pending block shows up for the accounts I hold for users.
On another site pickupnano.com using the same node I can see a delay of 5-10 minutes quite often.

Sync status says 100%. 291 Peers are connected.
https://apollonano.com/nodemonit

[2021-07-20 20:22] zhyatt commented on #3382
@ApolloNano Are there specific accounts that you see repeated issues with? Or is it more widespread across a bunch of accounts?

[2021-07-21 00:55] ApolloNano commented on #3382
The receiving accounts can be new or older ones without any transactions yet.
I also tried different sending accounts. A delay appears in each case.

[2021-07-21 17:19] zhyatt commented on #3382
Have you tried running the node with a different ledger? That was unclear from your description.

[2021-07-21 18:45] zhyatt opened #3386 "Update references to non-standard units in QT wallet"
[Recent discussions](https://github.com/nanocurrency/nano-docs/pull/466) on unit changes has arrived at keeping case insensitive nano (NANO, Nano) as 10^30 and raw as 10^0 for the main standardized units. To help set the standard, code references to units in the QT wallet and RPCs for unit conversion, need adjustments:

- `mnano`/`mrai` should become `nano`
- `knano`/`krai` should be removed
- `na

[2021-07-22 02:25] qwahzi commented on #3382
Not sure if my own issue is related, but I figured I'd post it just in case (RocksDB, non-PR, experimental pruning, CentOS 8, docker node). @ApolloNano - Do you happen to have experimental pruning enabled too?

NanoTicker median conf block count: ~123,839,620
My block count: "123,839,608":
[code]

My recent test transactions (sending to the faucet) seem to be working ok:
https://mynano.ninja/block

[2021-07-22 02:51] ApolloNano commented on #3382
@zhyatt Thanks. I'll give a different ledger a try.
@qwahzi pruning is not enabled on the node

[2021-07-22 02:52] qwahzi commented on #3382
Also just saw this PR from Colin. Maybe related?

https://github.com/nanocurrency/nano-node/pull/3387

[2021-07-22 08:42] clemahieu commented on #3382
My change is only related to empty results and how they're represented in json.

[2021-07-22 17:05] #3175 closed, assigned to nobody

[2021-07-23 14:54] clemahieu opened #3389 "Reduce compile times by using forward-declarations when possible."
When profiling with -ftime-trace, it was found that parsing node.hpp represents a significant portion of compile time. The class nano::node has many of its other components as values and as such, requires the implementation to be included in the node.hpp file.

This can be avoided by forward declaring the internal components and nano::node can hold unique_ptr or references to them.

An example of

[2021-07-23 14:55] clemahieu opened #3390 "Remove #include <nano/secure/store.hpp> from node.hpp"
nano::node::store is already referenced by unique_ptr and reference which means it can be forward declared.

Remove this header and fix up any header dependencies.

[2021-07-23 17:48] dsiganos commented on #2747
This is a problem indeed and we do not have an elegant solution to this yet.

However, as things stand now, it is possible to skip messages because it is possible to work out the length of a payload once the 8 byte header is skipped. You can skip messages that you do not wish to parse. But you can't yet protect against future protocol changes.

The function that returns a payload size given an 8 b

[2021-07-23 18:03] dsiganos commented on #3111
Currently, many keepalive messages have the following 2 entries in them:
::0 and ::XXXXX, where XXXXX is the listening port number typically 7075

Do we not want to remove these entries and avoid wasting keepalive entry space?

[2021-07-26 15:54] zhyatt opened #3397 "Add deprecation output in history RPC response"
The [history RPC](https://docs.nano.org/commands/rpc-protocol/#history) is currently deprecated but does not include `deprecated: "1"` in the response as other deprecated calls to. Add this for clarity.

[2021-07-26 17:05] zhyatt commented on #3386
Closed by #3392

[2021-07-26 17:05] #3386 closed, assigned to shryder

[2021-07-26 17:12] shryder opened #3399 "Tests failing because my Github username is capitalized"
Example: https://github.com/shryder/nano-node/runs/3163839612

I've changed my username now its all lower-case.

[2021-07-26 17:38] shryder opened #3401 "QSettings not saving on Windows"
Selected unit value in QT Wallet is supposed to get saved but it doesn't get saved on Windows.

Windows x64 last dev branch

[2021-07-28 16:35] zhyatt commented on #3382
@ApolloNano Any luck with further testing on this?

[2021-07-28 17:20] dsiganos opened #3404 "Nano node software does not build when NANO_TEST is not set"
### Summary

Nano node software does not build when NANO_TEST is not set.
You may need to build from scratch to reproduce the problem.

I built with these options to reproduce it:
[code]

There is tail of the build log showing the problem.
[code]

### Node version

e3563a95db40e499cc4381b91eef78b15f89113b

### Build details

manually built

### OS and version

ubuntu 20.04

### Steps to reproduce

[2021-07-29 04:45] ApolloNano commented on #3382
I have downloaded a new ledger snapshot from mynanoninja and kept it as LMDB.

The ledger got synced up in about an hour and got pretty much to the last block count of nanolooker but the result appear to be the same.

Turned off every service that would have put any extra load on the node and just had the node run on it's own.

The node is still staying about 1k blocks behind what the latest block

[2021-07-29 20:29] #2882 closed, assigned to clemahieu, wezrule, zhyatt, argakiig, guilhermelawless, SergiySW

[2021-07-29 21:33] #3399 closed, assigned to argakiig

[2021-07-30 12:13] #3397 closed, assigned to shryder

[2021-07-30 20:32] tombertrand commented on #3046
Getting the same issue here where [NanoLooker](https://www.nanolooker.com/account/nano_1ookerz3adg5rxc4zwwoshim5yyyihf6dpogjihwwq6ksjpq7ea4fuam5mmc) Rep is unable to see itself from `representatives_online` but is seen as online from other nodes (Crawler, MNN, [nanos.cc](https://proxy.nanos.cc/proxy/?action=representatives_online)) for the same RPC. Currently only a voting representative and not a

[2021-07-30 21:43] tombertrand opened #3409 "Add accounts_representatives rpc"
### Summary

Would like to be able to request more than one representative account at a time. Currently using multiple times https://docs.nano.org/commands/rpc-protocol/#account_representative while it may be more optimal to add another RPC that behaves like `accounts_balances` where it's possible to get multiple balances / representatives in a single request.

Goal would be to

Request:
[code]

R

[2021-07-30 21:54] zhyatt commented on #3409
@tombertrand Thanks for the suggestion, this seems to align well with potential use and other existing RPCs. One thing to investigate is whether this is computationally intensive enough to warrant an `enable_control` requirement on it, so might be worth testing that out and evaluating potential limits to the request/response. Assigned to @shryder per volunteering in [Discord](https://chat.nano.org

[2021-08-01 19:30] forresthopkinsa commented on #895
Agreed, it's a misleading field

[2021-08-02 16:31] zhyatt opened #3411 "Replacing `pending` with `receivable`/`ready to receive`"
Update node references, RPC calls, etc. to use `receivable` to indicate that an incoming send block on an account is ready to have the corresponding receive block published for it (after which the newly added balance can be sent by the receiving account). Previously the less clear term `pending` was used.

Any updates to the QT wallet UI referencing the same should use the term `ready to receive`

[2021-08-06 12:45] #3404 closed, assigned to argakiig

[2021-08-09 21:51] zhyatt commented on #3382
Another similar issue was reported in Discord [here](https://discord.com/channels/370266023905198083/459677604669030400/874375494265634856). The case is: they send a block from a wallet (not their node) which is immediately seen on other nodes on the network, but it takes 3 minutes for their node to see the send block in account_history, then it takes another 2-3 minutes before the send block is c

[2021-08-10 20:07] zhyatt opened #3419 "Immediately broadcast blocks on arrival"
As part of the V21.3 service release the [rebroadcasting of blocks upon immediate arrival was removed](https://github.com/nanocurrency/nano-node/pull/3140) (specifically commit c21ec84cfe49bd545198f2cbfa64095bd714e4b8) but this change reduces block propagation and may be contributing to delays in non-PR nodes receiving blocks initially. This rebroadcasting of blocks immediately on arrival should b

[2021-08-10 21:53] qwahzi commented on #3382
Good find! I'm guessing the new issue you just opened is related to this? Or something separate?

https://github.com/nanocurrency/nano-node/issues/3419

[2021-08-11 00:05] zhyatt commented on #3382
We believe there is a good chance that is related, although some additional testing and validation must still be done to be sure.

[2021-08-11 13:55] dsiganos opened #3421 "qt_test is failing on develop"
### Summary

qt_test fails on latest develop (commit: a5b9c3f51e3da14cc6275400472f2573c9c78fde)

[code]

### Node version

a5b9c3f51e3da14cc6275400472f2573c9c78fde

### Build details

manual build

### OS and version

ubuntu 20.04

### Steps to reproduce the behavior

run qt_test

### Expected behavior

pass

### Actual behavior

fails

### Possible solution

_No response_

### Supporting files

_

[2021-08-13 20:12] thedecentralized opened #3423 "Run a node from source code"
### Summary

Hey, how's it going?

I was wondering how I can run a node from source code (without docker), how can I do this?

Detail: I've been to all Nano's links, including this "https://docs.nano.org/integration-guides/build-options/"

### Node version

V22.1

### Build details

*

### OS and version

*

### Steps to reproduce the behavior

1.
2.
3.
...

### Expected behavior

*

### Actual be

[2021-08-13 20:15] zhyatt commented on #3423
Please see https://docs.nano.org/integration-guides/build-options/ for details on how to build the node from source. Are you planning a new integration with nano? We're always interested to hear about community projects.

[2021-08-13 20:24] thedecentralized commented on #3423
I've tried it but it looks like this: //

I'm trying to "fork" but I can't even run node from the source code

![unknown](https://user-images.githubusercontent.com/83592440/129414724-18aab9fd-a705-4e57-9f93-17484408d4cd.png)
![unknown (1)](https://user-images.githubusercontent.com/83592440/129414723-4e1fade1-7629-4109-948d-1dec2be05bde.png)
![unknown (2)](https://user-images.githubusercontent.com/

[2021-08-13 20:31] zhyatt commented on #3423
It looks like you may have started the node ok, but perhaps you need to use `[::1]:7076` on your machine to connect to RPC.

Also, I see you have been trying to get help from Discord to make a fork of nano and launch your own project: https://discord.com/channels/370266023905198083/459677604669030400/875781135471378442. We don't provide support for these types of efforts so I will be closing this

[2021-08-13 20:31] #3423 closed, assigned to nobody

[2021-08-13 20:32] thedecentralized commented on #3423
alright, thanks for the support :)

[2021-08-15 16:06] otonashixav opened #3424 "Add block confirmation status to blocks returned by `account_history`."
### Summary

Currently, to get the confirmation status of blocks returned by `account_history`, `account_info` must be requested at the same time in order to infer block confirmation status based on confirmation height. It would be nice if `account_history` included confirmation status for each block.

### What problem would be solved by this feature?

I'm writing a wallet which stores blocks loca

[2021-08-18 13:04] dsiganos opened #3425 "Messages received and queued but not processed"
### Summary

Messages from a peer can be received and queued for processing but the function that process them doesn't actually get triggered, and once it is not triggered, it won't be triggered again because it is assumed that if there are messages in the queue then the processing function is already active.

Let's use an incoming confirm_req packet as an example.

It will be received by the func

[2021-08-18 13:11] #3425 closed

[2021-08-24 18:49] thsfs commented on #3389
I've been working on applying IWYU (https://include-what-you-use.org/). It is a tool that suggests better includes and forward-references that can replace the includes you already have. Discovered that when applying it automatically it will surely mess with the code. Better way is to do it manually, so we have more control to what is going to be changed. Applying to headers that are included a lot

[2021-08-25 17:31] shryder commented on #3424
I can work on this

[2021-08-30 15:51] Exxenoz opened #3430 "Add block height of confirmed blocks to websocket messages"
### Summary

The block height of confirmed blocks is still missing in websocket messages:
[code]

### What problem would be solved by this feature?

Less rpc requests. Currently you need an additional rpc request for each incoming block to get its block height.

### Are there any previous requests for this feature?

I don't know any other requests.

### Do you have a suggested solution?

Adding so

[2021-08-31 14:56] #3162 closed, assigned to nobody

[2021-08-31 14:57] #3163 closed, assigned to nobody

[2021-08-31 15:03] playnano commented on #3382
In the meantime, is there any workaround one can do to get PRs or other nodes to broadcast those missing transactions?

I've known about this issue for a while (mostly from user reports, using PlayNANO roulette, complaining that their deposits took too long to get accepted) but only now had the time to dig further into it. Made a few tests and pretty much the same is happening to me. Just had a tr

[2021-09-01 17:20] zhyatt commented on #3421
@clemahieu Is this now resolved?

[2021-09-01 17:39] zhyatt commented on #3322
@gr0vity-dev I see you added a commit to your fork for this but didn't submit a PR. Can you open that PR with description `Closes #3322` so we can review?

[2021-09-01 17:57] zhyatt commented on #12
@argakiig What is left here? Just the docs update for apt install mentioned above?

[2021-09-01 18:00] zhyatt commented on #297
Closing in favor of #3139 and #3143. Thanks @marioortizmanero

[2021-09-01 18:00] #297 closed

[2021-09-01 18:02] zhyatt commented on #3139
Are there docs updates in https://docs.nano.org/core-development/code-standards/ that should be made from this? Open to suggestions there.

[2021-09-01 18:11] argakiig commented on #12
deb repo still needs to be stood up

[2021-09-01 18:44] Exxenoz commented on #3430
Duplicate of #3322

[2021-09-01 18:44] #3430 closed, assigned to nobody

[2021-09-02 09:14] mehlium commented on #1782
Totally agree on using HTTP status codes to indicate if a request was successful or not.

However, don't think an error should be encoded as JSON. This puts more responsibility of error handling onto client. In this case the client first has to check HTTP status code, if it was non-200 then need to decode JSON and then need to check the error string of that json. What is the actual error state if

[2021-09-02 14:14] dsiganos commented on #3421
qt_test is passing now.

[2021-09-02 14:28] dsiganos commented on #3421
It was fixed by this commit:
https://github.com/nanocurrency/nano-node/commit/db6c1624c9550b6ac887d8102bfe517b81a7b5c9

[2021-09-02 14:28] #3421 closed, assigned to clemahieu

[2021-09-02 18:22] shryder commented on #3411
These are the references I found in the QT wallet:
https://github.com/nanocurrency/nano-node/blob/develop/nano/qt/qt.cpp#L118
https://github.com/nanocurrency/nano-node/blob/develop/nano/qt/qt.cpp#L275
https://github.com/nanocurrency/nano-node/blob/develop/nano/qt/qt.cpp#L780
https://github.com/nanocurrency/nano-node/blob/develop/nano/qt/qt.cpp#L1911
https://github.com/nanocurrency/nano-node/blob/d

[2021-09-02 19:13] dsiganos commented on #3411
Looks good.

[2021-09-02 20:37] jcraigk commented on #1782
@aspic From a client perspective in this situation, simplicity trumps performance on errors. Imo, every response from the RPC server should contain exactly two parts: (1) HTTP status code and (2) JSON payload. If non 2xx status code, `error` key should be present in JSON holding an English human readable error. That describes the entire contract I am suggesting here. Adding a variation on what is

[2021-09-02 20:55] codesoap commented on #1782
I agree, that the complexity should be kept as low as possible and I think plain text would be simplest, because clients can then skip the parsing of JSON. I don't like the idea of returning some sort of "error key", which the client would have to translate into a meaningful error message. An HTTP response already contains a response code, which is a well machine readable "error key". The error me

[2021-09-02 21:52] jcraigk commented on #1782
@codesoap Sorry I think we have a miscommunication. See my original post. The `error` key of the JSON response would contain the meaningful human readable error message. Sending a different type of payload (plaintext vs JSON) depending on the status code is the complexity I am suggesting avoiding. Sending an HTTP status code indicating an error (any non-200 code) along with JSON body is extremely

[2021-09-03 14:44] codesoap commented on #1782
@jcraigk When criticizing the error keys in the payload, I was referring to this suggestion of @aspic, sorry for the confusion; although, maybe, I misunderstood this as well:

----

Returning a JSON payload on errors, which have a fixed form, as you suggest (e.g. `{"error": "<human readable msg>"}`), wouldn't be too bad, but I don't understand why the extra complexity of JSON should be added. If t

[2021-09-03 15:23] jcraigk commented on #1782
@codesoap I understand and appreciate the basic argument of "isn't plaintext simpler than JSON in error situations" and if I were writing a highly performant application in C I would hope to receive something like that to speed up error handling. However, in the modern server/client REST architecture that has evolved over the last decade or so, servers always return JSON so that parsing is easy an

[2021-09-03 18:10] mehlium commented on #1782
@jcraigk thanks for the elaborate examples and argumentation! I think the most important thing here is to have an API that is consistent. Either direction here has its pros or cons.

I believe that limiting the ways a thing can fail will make it harder for anyone to make it fail. And in some languages, having to parse the error response is an extra step that might lead to more messy code / possibi

[2021-09-03 18:32] zhyatt commented on #3411
Great, thanks @shryder ! This is a good start. Are you able to open up an RPC with the Qt wallet and logs changes?

As for the RPC changes, we could add an alias `receivable` to the `pending` RPC so either can be used, and mark `pending` as deprecated. I believe there are other alias' in the RPC calls as an example. We could also return the same values in a new `receivable` field on all the respon

[2021-09-03 18:50] dsiganos commented on #3411
Having both pending and receivable return the same value and having pending marked as deprecated  sounds like a reasonable way forward to me. A lot of scripts will break if we suddenly remove pending.

[2021-09-03 21:43] shryder commented on #3411
@zhyatt yeah I can do that once I find a bit of time. I like the RPC change idea.

[2021-09-05 09:36] shryder commented on #3411
All above PRs are ready to be reviewed, let me know if there is something I should change

[2021-09-05 09:56] shryder commented on #1782
I personally prefer having the response in JSON at all times, I kinda like this proposal: #2262
The way I do it with my personal APIs is something like this and it works well for me:
[code]
or
[code]

[2021-09-07 13:50] qwahzi commented on #3227
I'm wondering if this suggestion solves the wrong problem. Rather than allowing reps to sign receive blocks for others (adds complexity & risk), wouldn't it make more sense to just allow receivable vote weight to participate in consensus (e.g. https://github.com/nanocurrency/nano-node/issues/2379)? Or is there any other benefit to allowing reps to receive on behalf of others?

[2021-09-07 17:07] My1 commented on #3227
I like the idea.

well, pruning

[2021-09-07 17:32] qwahzi commented on #3227
Ah of course, can't believe I forgot that!

[2021-09-08 22:06] ghost commented on #3294
I think I was able to find some information on the bootstrapping problem.
My node started churning as well
- block_count unchecked would go up then down
- frontier_count would go up slowly.
- logs:
[code]

so I think what is happening is that rocksdb is garbage collecting the unchecked blocks after "accounts in pull queue" reaches zero, whereas leveldb only garbage collects when you explicitly ask

[2021-09-10 17:14] zhyatt commented on #3294
@theohax @clemahieu Although this note from @coranos (thanks!) may be RocksDB specific, I wanted to highlight for you as you continue to look into bootstrapping activities.

[2021-09-12 13:32] ghost commented on #3294
I did some more investigation, and I believe I have found a clue.

Using frontiers, I was able to determine an account that took several hours to appear. It was taking a long time in both rocksdb and leveldb, and it's on bananos v22. So ymmv.

these accounts were in a chunk of accounts that took 8 hours of 100% cpu churning to appear:
[
 "ban_1ah4xni57wd9m3ub9b6u59714ngntyugm5689gamthgibzr1nrqn1j1

[2021-09-12 23:54] Exxenoz commented on #3419
If I publish blocks on other nodes than my own (for example MyNanoNinja using the process RPC) it takes around 1-5 minutes until my node marks them as confirmed. I even setup a second Nano node on a fresh server - same behaviour. Seems like all non-PR nodes are currently affected by this. Confirmations are almost instant if I publish the blocks directly on my node, ~~except for open blocks, which

[2021-09-13 16:26] dsiganos commented on #3419
@Exxenoz , if you wish to help debug this, the next step would be to enable detailed logs and repeat your test case.
To enable detailed logs , you can add these entries to your config-node.toml file.

[code]

[2021-09-13 19:41] zhyatt commented on #3382
We have begun temporarily republishing blocks in an attempt to improve the situation until a fix can be pushed out. Are things looking better on your end?

[2021-09-13 19:53] zhyatt commented on #3419
@Exxenoz We would expect you to have less impacts now, as we are now temporarily rebroadcasting blocks to help improve these situations (until a fix can be deployed broadly). This just started consistently about an hour or so ago. Let us know if you keep experiencing these same delays.

[2021-09-13 23:52] Exxenoz commented on #3419
@zhyatt

^ This was my fault. I accidentally published all open blocks to MyNanoNinja yesterday.

Now:
Test1: Send & Open block published to node1. -> Send & Open block got instantly confirmed on node1.
Test2: Send & Open block published to node1. -> Send & Open block got instantly confirmed on node1.
Test3: Send & Open block published to node1. -> Send & Open block got instantly confirmed on node

[2021-09-13 23:57] playnano commented on #3382
Hi Zach, that's a great idea, thank you for helping :)

However, it didn't fix the issue. I tried sending one transaction from Natrium and it was pretty much instant, then the next two transactions took both 2+ minutes, and both were detected pretty much at the same time by my node (although one was sent one minute after the other). I tried one last transaction from a different address and it also

[2021-09-14 04:00] zhyatt opened #3447 "`wallet_list` and `wallet_create` CLI broken on develop"
Both the `wallet_list` and `wallet_create` CLI commands are not working on the current develop branch as of commit 4e2ffe9993030e170b0f53ae579ac272f15402f1.

[2021-09-14 04:13] dsiganos commented on #3447
The problem is that this check fails:
`if (!ledger.block_or_pruned_exists (config.network_params.ledger.genesis->hash ()))`
https://github.com/nanocurrency/nano-node/blob/4e2ffe9993030e170b0f53ae579ac272f15402f1/nano/node/node.cpp#L357

[2021-09-14 11:18] dsiganos opened #3448 "keepalive sends self referencing entries after first packet"
The first keepalive packet is supposed to have 2 self referencing entries showing the port and ip address used by the nano node.
The first entry is the ip and port bound and the second entry is the ip and port reported by upnp.
Subsequent keepalive packets are not supposed to have self referencing entries but they sometimes do.

To reproduce the problem run the script:
https://github.com/dsiganos/

[2021-09-14 13:19] theohax opened #3449 "Hotfix for the request queue not getting processed up until to its last element"
Also, add a unit test for this.

[2021-09-14 13:23] #3449 closed, assigned to nobody

[2021-09-14 13:27] jarviscodes commented on #3294
FYI:
My node was completely synced in less than 12 Hours.

Start time: `Sep 13 13:39`
End time: `Sep 14 11:58`

I have no "legacy bootstrap attempts" in my logs.
It's probably worth mentioning that I bootstrapped v20 instead of v22.

[2021-09-14 17:26] zhyatt commented on #3382
@playnano Thanks for reporting. So it sounds like you are still experiencing delays with block propagation as well as confirmations. The blocks are republished pretty much immediately. The bootstrap_any isn't recommended, it likely wouldn't make a difference here. We are continuing to investigate this.

[2021-09-14 17:50] zhyatt commented on #3419
@Exxenoz Thanks for confirming. We are reviewing these details and doing further investigation into the delays.

[2021-09-14 19:38] playnano commented on #3382
I don't think the issue is with confirmations. The last time I checked (before making my 1st comment here, 14d ago) my node was confirming blocks as soon as they were discovered. The problem was that it was taking too long to discover the blocks. I didn't check this yesterday, but I'm assuming it is still the same problem, block propagation/discovery, not confirmations.

[2021-09-14 21:50] clemahieu opened #3451 "Add .to_string () debug method to each message type"

[2021-09-15 12:50] dsiganos opened #3452 "nano_node --diagnostics does not work"
To recreate the problem:
Delete the data folder and them try to initialise it with:`
nano_node --diagnostics`

It fails with the message:
[code]

[2021-09-15 12:52] dsiganos commented on #3452
--diagnostics was probably broken even more by the network params refactoring but it was already broken even before that because I had it in my makefile and removed it months ago. (edited)

[2021-09-15 16:10] zhyatt commented on #3346
load_test was removed here: https://github.com/nanocurrency/nano-node/pull/3373, but rpc_test and qt_test should be required in this release

[2021-09-15 16:36] zhyatt opened #3453 "Add vote duration to low order bits of timestamp"

[2021-09-15 16:53] clemahieu commented on #2176
The rep_crawler limits what it tracks based directly on the principle weight minimum. This is a memory tradeoff as tracking reps in the rep_crawler consumes memory. I think the most direct way to provide this functionality is a configurable option which allows the rep_tracking threshold to be lowered below the principle weight minimum in which case the RPCs will report on anything within the confi

[2021-09-16 22:32] zhyatt opened #3455 "Evaluate possible crashes on RPC callbacks"
When we check for `if (ec) { response_errors (); }` it's possible the async handler already executed. If there was an error it may have set `ec` and `response_errors()` will be called twice. Consider this pattern: First do all pre-checks, and only afterwards call the async handlers: `if (ec) { response_error () } else { async_func () }`

[2021-09-16 22:43] zhyatt opened #3456 "Add option flag to return principal status in `representatives` , `representatives_online` RPC calls"

[2021-09-16 22:46] zhyatt opened #3457 "Differentiate "0" values from no value given"
e.g. work in `block_create`

[2021-09-16 22:50] zhyatt opened #3458 "Fix `work_get` returning wrong work when sending from multiple accounts quickly"
Multiple reports where people have been able to send from one account, but then `work_get` generates work for other accounts when trying to send from multiple accounts quickly

[2021-09-16 23:04] zhyatt commented on #3113
@howinator If still interested in this, can you submit using the feature request form? https://github.com/nanocurrency/nano-node/issues/new?assignees=&labels=&template=feature-request.yml

[2021-09-16 23:04] #3113 closed, assigned to nobody

[2021-09-16 23:05] zhyatt commented on #3112
@rathodudayy Closing due to issue being stale.

[2021-09-16 23:05] #3112 closed, assigned to nobody

[2021-09-16 23:06] zhyatt commented on #3087
@regfaker Closing due to issue being stale but let us know if you continue to run into crashes.

[2021-09-16 23:06] #3087 closed, assigned to nobody

[2021-09-16 23:07] zhyatt commented on #3074
@My1 I believe you were able to discuss and get help in Discord but if not, please let us know.

[2021-09-16 23:07] #3074 closed, assigned to nobody

[2021-09-16 23:10] zhyatt commented on #3070
Closing as answered

[2021-09-16 23:10] #3070 closed, assigned to nobody

[2021-09-16 23:17] zhyatt commented on #3030
Closed by #3051

[2021-09-16 23:17] #3030 closed, assigned to wezrule

[2021-09-16 23:18] zhyatt commented on #2422
Closing due to no response

[2021-09-16 23:18] #2422 closed

[2021-09-16 23:19] zhyatt commented on #1794
Closing due to no response

[2021-09-16 23:19] #1794 closed

[2021-09-16 23:20] zhyatt commented on #1044
@clemahieu Can we close this out now?

[2021-09-16 23:21] #643 closed

[2021-09-17 22:05] ghost commented on #3294
Was the fork block resolution code changed in v22?

I did some tests in bananos, since it had a smaller list of frontiers. a $40/mo 8gb 4 core server synchs to 24m of 27m blocks in 24h.

If I then compare frontiers of a fully synched block, and work through the link and previous blocks, I find hash 2405BCECCFECFDA6E72A72445BBAB2D0411C1B6315685E65D869734402647223 in the fully synched banano node, b

[2021-09-18 00:49] ghost commented on #3294
no more fork blocks so far, but I have found a handful of other blocks using the following algorithm:
1. get frontiers from fully synched node (1078223 accounts)
2. get frontiers from desynched node (1064159 accounts)
3. get all frontiers that are in fully synched that are not in desynched (~25,000 hashes)
4. using fronters as a set of hashes, pull block from fully synched nodes, look for link and

[2021-09-20 22:30] ghost commented on #3294
Update from banano, it appears we have resolved the problem on banano.

The problem was this: We did not have over 50% rep weight on v22, most of it was on v20.

The resolution was this: When over 50% rep weight moved to v22, a new node synched successfully with no perceptible slowdown, and the fork that was detected earlier did not occur. In addition, block cementing happened at a much more rapid

[2021-09-21 14:54] #3424 closed, assigned to shryder

[2021-09-21 23:07] dsiganos opened #3466 "Document the new CLI commands initialize and debug_block_dump"
Document the new CLI commands initialize and debug_block_dump.

[2021-09-21 23:13] zhyatt commented on #3466
@dsiganos Is this for documenting these in the code for https://github.com/nanocurrency/nano-node/pull/3465? I added a ticket for updating docs.nano.org here too: https://github.com/nanocurrency/nano-docs/issues/575

[2021-09-21 23:15] dsiganos commented on #3466
Yes, feel free to close this if you think it is redundant.

[2021-09-21 23:25] zhyatt commented on #3466
We typically mark PRs in this repository that need documentation updates with the `documentation` label and then open up an issue in the docs repo for the changes (or submitting a PR directly is fine) that references the original issue so you can see in the PR here the status of docs changes. Then near release we use the `documentation` label to double check things and verify they have either an o

[2021-09-21 23:25] #3466 closed, assigned to zhyatt, dsiganos

[2021-09-22 17:06] zhyatt commented on #3447
Fixed by #3468

[2021-09-22 19:35] dsiganos opened #3471 "Unit test ledger_walker.ladder_geometry fails sometimes"
[code]

https://github.com/nanocurrency/nano-node/runs/3678698743?check_suite_focus=true#step:6:945

[2021-09-23 02:36] dakshsingh commented on #3294
I had this issue too. New to nano and wanted to set up a representative using docker. Started bootstrapping on 22.1 about 6 days back; plenty of RAM & cores, fast NVME drive. Reached about 50M blocks cemented in about 2 days and then slowed to a crawl, intense disk activity continuing. Reached just 61M blocks over the next 4 days. and decided to switch over to a downloaded ledger. Interestingly, t

[2021-09-23 04:24] dakshsingh commented on #3294
Yes. Synced up in about an hour.

[2021-09-23 23:17] zhyatt opened #3472 "Log inability to access `data.ldb` on node startup"
Currently if the node is started up with a `data.ldb` existing, but where the permissions do not allow the node user to access, the node crashes and nothing shows in the logs. For easier identification of this issue, I propose we add log entry similar to: `Unable to to access data.ldb file, check permissions` and gracefully exit with `Node stopping` log entry.

[2021-09-24 09:24] clemahieu commented on #3472
If it doesn't have access to data.ldb it likely doesn't have access to the log directory though we could print an error to the console and exit cleanly.

[2021-09-25 01:09] dsiganos opened #3473 "slow_test does not complete (system.generate_mass_activity_long runs for forever, hours)"
I run the test slow_test for over 4 hours and it did not complete.
It gets stuck in the test system.generate_mass_activity_long.

[code]

[2021-09-26 13:05] dsiganos opened #3476 "Unit test rpc.epoch_upgrade failed on macos CI"
[code]

[2021-09-27 13:02] dsiganos commented on #3476
The second RPC call to epoch_upgrade looks like a race condition to me.
If I understand well what is happening, the second RPC call is checking that the first call is in progress.
But that is a transient state and it is not guaranteed that the test will notice that transient state.
So it is a race condition.

If I add a one second sleep between the forst RPC and the second RPC call then the unit t

[2021-09-27 13:46] dsiganos commented on #3476
Documentation epoch_upgrade RPC:
"The RPC command epoch_upgrade spawns a background task to iterate over all accounts and add the epoch block to any accounts that do not have it. It will return { "started" = "1" } if the background task was spawned successfully. It will return { "started" = "0" } if the operation could not be started. Reasons for not being able to start the operations include the

[2021-09-27 14:57] dsiganos opened #3478 "Unit test node.search_pending_pruned failed"
[code]

[2021-09-27 16:09] zhyatt commented on #3476
Docs updated in https://github.com/nanocurrency/nano-docs/pull/576

[2021-09-27 16:26] #3476 closed, assigned to dsiganos

[2021-09-28 11:37] dsiganos opened #3480 "Unit test bulk.genesis_pruning failed in CI"
[code]

https://github.com/nanocurrency/nano-node/runs/3726625746?check_suite_focus=true#step:5:436

[2021-09-28 11:38] #3478 closed, assigned to dsiganos

[2021-09-28 13:21] dsiganos opened #3481 "Unit test node.local_votes_cache_batch failed in CI"
[code]

https://github.com/nanocurrency/nano-node/runs/3731928529?check_suite_focus=true

[2021-09-28 15:52] #3447 closed, assigned to dsiganos

[2021-09-28 15:52] #3452 closed, assigned to dsiganos

[2021-09-28 16:29] codesoap commented on #1871
Is there any ticket where I can check the progress on this?

[2021-09-28 17:05] zhyatt commented on #1871
Reopening as this is being considered in a RPC v2.

@codesoap This can be tracked as part of #2467 and is related to #3348

[2021-09-28 17:23] zhyatt opened #3483 "RPC v3"
**Background**
This was split from original plans for "RPC 2.0" to help with further improvements on top of the IPC 2.0 framework in a new v3. The v2 items will be tracked in nanocurrency/nano-node#2467.

## General rules

- This will be built on top of [IPC 2.0](https://github.com/nanocurrency/nano-node/pull/2487) under the `v3` endpoint
- Needs to follow minimum specification - so all the functi

[2021-09-28 17:26] zhyatt opened #3484 "Deprecate usage of `pending`, add `receivable`"

[2021-09-28 17:27] #3484 closed, assigned to nobody

[2021-09-28 17:28] zhyatt commented on #3484
Resolved by #3439

[2021-09-28 17:30] zhyatt commented on #616
We are interested in deprecating use of the current value here and adding the new option alongside it for compatibility with RPC v2.

[2021-09-28 21:32] dsiganos opened #3485 "Unit test vote_processor.no_broadcast_local failed in CI"
[code]

https://github.com/nanocurrency/nano-node/runs/3734715856?check_suite_focus=true#step:5:1642

[2021-09-29 13:26] cryptocode commented on #2985
This problem should go away soon: https://github.com/miniupnp/miniupnp/issues/540 😀
Might require a minor update to the cmake script when upgrading.

[2021-09-29 18:44] zhyatt commented on #3189
@dsiganos @argakiig Is this still an open issue?

[2021-09-29 18:49] dsiganos commented on #3189
We do not build qt_system anymore so this ticket can be considered done.
however, we could clean up a bit better, so I will leave this ticket to track the complete clean up of qt_system.

[2021-09-29 18:53] dsiganos commented on #3189
To cleanup:
* remove qt_system folder and entry.cpp
* remove qt_system from .gitignore file
* remove qt_system from coverage/CMakeLists.txt

[2021-09-30 00:13] Exxenoz commented on #3419
I just published around 1600 (800 send- & 800 receive-) blocks to my Nano node using the "process" rpc and the "async: true" option. Block confirmations are really damn slow. Maybe around 5-10 blocks / minute get confirmed currently.

The publishing process was finished at 1:55 AM UTC+2, but it looks like it will take hours for all of them to get confirmed: https://nanocrawler.cc/explorer/account/

[2021-09-30 01:06] zhyatt commented on #3419
Regardless of the issues above, when publishing lots of blocks on a single account you will naturally hit a confirmation limit, depending on the network confirmation times. So if confirmations take 250ms, then you max out at 4/s. This is because nodes won't vote on a block until the previous is confirmed. If you are trying to perform tests, especially with large amounts of blocks like this, please

[2021-09-30 13:40] Exxenoz commented on #3419
This makes sense, but confirmations are still too slow. :> I will look into setting up a beta node very soon. Thanks 👍

[2021-10-04 17:28] dsiganos opened #3489 "telemetry_ack response: protocol_version field does not contain correct data"
The telemetry_ack response does not set the protocol_version field correctly.

[2021-10-04 17:30] dsiganos opened #3490 "telemetry_ack response: implemenation of fields "uptime, peercount, protocol_version" does not match documentation"
telemetry_ack response: "uptime" field contains non-changing data, which doesn't make sense

[2021-10-04 17:34] zhyatt commented on #3490
@dsiganos So you are seeing the same value for `uptime` when receiving telemetry responses beyond the telemetry message cache window?

[2021-10-04 17:37] zhyatt commented on #3489
@dsiganos What version are you currently seeing? There is a node version, which most on the main network should be 22+ and then protocol version has been at 18 since node version 21.0: https://docs.nano.org/releases/node-releases/#active-releases

[2021-10-04 18:04] dsiganos commented on #3490
@zhyatt Hmmm, what is a telemetry cache window? Does telemetry get sampled only at specific times and not whenever I issue telemetry request?

[2021-10-04 18:05] dsiganos commented on #3489
I am seeing what looks like random data. It is different every time.

[2021-10-04 18:12] zhyatt commented on #3490
Yeah, there is a cache window to reduce impact of repeat requests. I believe it may be 15s or 30s. Here is an update with regards to that, not sure where in the code all of that sits exactly though: https://github.com/nanocurrency/nano-node/pull/2650.

[2021-10-04 18:15] zhyatt commented on #3489
Here is an example of the summarized telemetry response RPC provides:

[code]

Seems that version `18` is the mode from all responses and the `raw` option shows everyone with `18` as well it seems. Not sure how that is decoded off the wire though. Are you directly decoding the network response?

[2021-10-04 18:19] dsiganos commented on #3489
I should clarify that I am referring to the telemetry_ack network packet. Not RPC call.

[2021-10-04 18:28] dsiganos commented on #3490
This is what I get for uptime for one of the beta servers with v23.0.0.2, which was restarted within the last hour:
[code]

The uptime cannot possibly be representing seconds of uptime as the protocol says.
https://github.com/nanocurrency/protocol/blob/b94bb467bf5264603b8a1870524791279988783e/reference/protocol.ksy#L382

[2021-10-04 18:31] dsiganos commented on #3490
Minutes later, iuptime is still showing the same value 81906368512:
[code]

[2021-10-04 18:37] dsiganos commented on #3489
Evidence of protocol_version changing...
[code]

[2021-10-04 18:40] zhyatt commented on #3490
So the [telemetry RPC documentation](https://docs.nano.org/commands/rpc-protocol/#telemetry) mentions the `uptime` field being `number of seconds since the UTC epoch at the point where the response is sent from the peer` which is in accurate for the RPC response, but may be accurate for the message on the wire (assuming this is the time the node last started up).

Locally I assume this means the t

[2021-10-04 18:51] zhyatt commented on #3489
So either the RPC call is returning a static or local value which is correct for protocol version but not being pulled from the network messages (meaning the telemetry implementation or something with RPC retrieval is at fault), or the other decoding methods that are being used to decode messages off the wire are incorrect.

Given the other issue you logged about uptime being incorrect (#3490) and

[2021-10-04 21:48] dsiganos commented on #3489
It could be a parsing problem but I do not think so. I have double checked it. I think the RPC and network packet code work differently.

[2021-10-04 21:56] dsiganos commented on #3490
I cannot even understand what the "number of seconds since the UTC epoch at the point where the response is sent from the peer" means exactly. In any case, what I see is not an increasing number so it cannot be anything that is tracking time.  I have logged this here so I can move on with other more important things. These are not recent regressions, I have been aware of these issues for a at leas

[2021-10-04 22:02] zhyatt commented on #3489
Hmm, odd. The most curious is this `protocol_version` one. It might be easiest to sort out since it is a static on all nodes as version 18 (`0x12` hex): https://github.com/nanocurrency/nano-node/blob/38026fc25c25e813c804345b5ccdc1148a883043/nano/lib/config.hpp#L273

[2021-10-04 22:38] zhyatt commented on #3490
I don't think I explained this clearly and the docs need updating, so I will make some additional notes here for future reference if they are useful:

- The uptime number captured locally and sent via the telemetry may be an Epoch timestamp of when that node last restarted, I'm not 100% sure. When the local node processes the telemetry response, it could be taking the current Epoch timestamp and s

[2021-10-05 01:28] dsiganos commented on #3490
I found the problem:
https://github.com/nanocurrency/nano-node/blob/1e8c0416577e4902e30d6cf0475ada6500f1d870/nano/node/common.cpp#L1207

The 3 telemetry_ack fields: uptime, peercount, protocol_version are written in the wrong order in the telemetry_ack packet data.
The order documented is:
* uptime
* peercount
* protocol_version
but the order implemented is:
* peercount
* protocol_version
* uptime

[2021-10-05 08:44] dsiganos commented on #3489
This will be fixed by issue #3490.

[2021-10-05 08:44] #3489 closed, assigned to nobody

[2021-10-05 08:45] dsiganos commented on #3490
The plan is to change the documentation to match the implementation, to preserve backwards compatibility.

[2021-10-05 09:40] dsiganos commented on #3473
With current hard-coded test iteration values, slow_test would take multiple days to complete on an average computer.
So it is not that slow_test does not complete or hang but that it takes unreasonably long to complete.
This ticket is about finding a way to make slow_test more practical and manageable.
We can either reduce the number of iterations or make it adjustable or make it time based rathe

[2021-10-05 11:44] cryptocode commented on #3490
Since the spec is currently derived from the implementation, it's very helpful if https://github.com/nanocurrency/protocol/issues gets a ticket whenever code is merged with wire format changes. Same with database changes in the nanodb-specification repo. Once v23 is released, I plan to generate a new parser for [nanocap](https://github.com/cryptocode/nanocap) to verify the protocol documentation.

[2021-10-05 15:42] zhyatt commented on #3490
There are some lagging items to resolve on the protocol side, I will make an attempt at resolving them, including this issue, which appears to have been around since the telemetry was introduced a couple years ago.

[2021-10-05 18:15] zhyatt opened #3491 "Node crash on Windows server 2012R2 , RocksDB V23.0DB2"
### Summary

Originally reported by Ricki in Discord. Node crashes when receiving incoming blocks, may require RocksDB.

### Node version

V23.0DB2

### Build details

Binary build for Windows: https://s3.us-east-2.amazonaws.com/repo.nano.org/beta/binaries/nano-node-V23.0DB2-win64.exe

### OS and version

Windows server 2012R2

### Steps to reproduce the behavior

1. Start Windows node on beta
1.

[2021-10-05 19:52] cryptocode commented on #3491
If anyone wanna take a stab at a PR: Looks like `do_wallet_actions` can get called (from a separate thread) before the node object is fully constructed. This causes the `distributed_work` constructor's call to `node_a.shared ()` to fail with an invalid weak_ptr.

Maybe using `node_initialized_latch` is an idea, before the call to `do_wallet_actions`. That said, I wonder if `node_initialized_latch`

[2021-10-06 16:44] clemahieu commented on #3346
As a first step we should qualify what, if any, tests make the CI build fail.

[2021-10-06 16:54] zhyatt commented on #3322
Given the non-response by @gr0vity-dev we will be pulling the code from https://github.com/gr0vity-dev/nano-node/commit/6cfe054c1b368fc84828972bfeae0994a0029c41 and creating a PR, with @gr0vity-dev as co-author.

[2021-10-06 17:07] clemahieu commented on #3491
I'm in favor of adding a wallets::start pattern. Since getting block work from distributed_work doesn't work before the node constructor completes it needs to start after the constructor.

[2021-10-07 14:26] dsiganos opened #3494 "./nano_wallet --config rpc.enable=true crashes on linux"
`./nano_wallet --config rpc.enable=true` crashes on linux (ubuntu 20.04)

On develop branch commit 1eefcaf70da5dd9b1f8e05f31ffd17478c827b2c

[2021-10-07 14:34] dsiganos opened #3495 "nano_wallet: does not show cemented block count, which is a vital statistic"
nano_wallet does not show the number of cemented blocks. It shows the number of checked and unchecked blocks only. But cemented block count is vital for determining the health of a node and for determining bootstrap success. I propose that we add cemented block count on nano_wallet somehow.

[2021-10-07 14:55] dsiganos commented on #3490
We fixed the documentation to reflect the implementation so this ticket can be closed now.

[2021-10-07 14:55] #3490 closed, assigned to zhyatt

[2021-10-07 15:11] dsiganos commented on #1792
Sorry, I accidentally closed this whilst looking for something else.

[2021-10-07 16:06] qwahzi commented on #3495
If it's not too much trouble, I would also ask for all block_count RPC stats to be displayed somewhere in the UI. I.e. this info:

[code]

Could maybe be shown here, perhaps by hovering with your mouse?
![image](https://user-images.githubusercontent.com/3682613/136422002-398cb4a8-8f58-404f-b1d4-77fc6c4fa36d.png)

[2021-10-07 16:38] Daan4 opened #3496 "Error initiating bootstrap connection to <ip> No route to host"
### Summary

Starting bootstrapping gives this error every few seconds for a couple of IPs, most of which I could find with traceroute.

### Node version

V23.0DB2

### Build details

docker pull nanocurrency/nano-beta:V23.0DB2

### OS and version

Ubuntu 20.04.3 LTS

### Steps to reproduce the behavior

1. Obtain fresh Ubuntu install (strato vps host in my case)
2. Install docker
3. Run nano beta

[2021-10-07 17:14] dsiganos commented on #3496
All of these come from a non-standard port and therefore are likely to be peers behind a NAT, with translated port numbers, which do not accept incoming connections. I see nothing suspicious here. We should maybe be scoring the peers and backing off from trying to establish contact with problematic peers but that's simply an improvement.

[2021-10-07 22:05] ghost commented on #3012
Is there a reference that shows how to sign state block v2?

I have the technical skills to update the ledger app, and also maintain a javascript library that does block signing using the ledger (bananojs-hw), so I could look into how hard it would be to update the ledger app, and use bananojs-hw to test it.

No time guarantees, because the app requires ledger approval, but I'm fairly confident I

[2021-10-08 16:42] theohax commented on #3471
Issue addressed in https://github.com/nanocurrency/nano-node/pull/3497 -- but not with an actual fix, just a guess at improving the test case.

The failure indicated above I wasn't able to reproduce, neither locally nor in the CI (OSX & Linux).

I suggest to close the issue for now and keep an eye open on the test case to see if it ever fails again in the CI.

[2021-10-08 16:42] #3471 closed, assigned to theohax

[2021-10-08 17:27] dsiganos opened #3498 "nanoapi_generated.h should be generated in the build folder"
After the upgrade of flatbuffers library my build broke and even deleting the entire build directory didn't fix the problem. I think the problem was that nanoapi_generated.h needed refreshing. The build started succeeding after I deleted nanoapi_generated.h and I rebuilt everything. That makes me wonder, shouldn't nanoapi_generated.h be residing in the build directory?

I am not sure what the prob

[2021-10-08 17:36] zhyatt commented on #3496
Is this likely related to https://github.com/nanocurrency/nano-node/issues/3349?

[2021-10-08 17:47] dsiganos commented on #3498
Relevant discussion on slack:
https://nanocurrency.slack.com/archives/C0220JV075L/p1633703163306400

[2021-10-08 17:47] zhyatt commented on #3012
There is no reference for signing I believe because the state block v2 design hasn't been fully approved as it currently sits. In fact I updated the PR to a draft to make that clearer. As we get closer to finalizing that state block v2 design for inclusion in a release we will keep you posted. Help with the ledger integration would be great.

[2021-10-08 17:48] dsiganos commented on #3498
@cryptocode , do you have any input on this?

[2021-10-08 17:50] dsiganos commented on #3496
Yes, it is related. But #3349 isn't a great solution either. #3349 will introduce a new set problems.

[2021-10-08 18:08] cryptocode commented on #3498
@dsiganos Yeah, emitting it to the build dir sounds better. I don't recall if there was a reason for doing it the current way or not.

[2021-10-08 18:52] dsiganos opened #3499 "is_bootstrap_connection() does not do what it says"
The function is_bootstrap_connection does not do what it says.
It implies that it simply checks if a connection is bootstrap or not but, in fact, it does a lot more that than.
It should be refactored to be safer.

[code]

[2021-10-09 12:45] dsiganos opened #3501 "Unit test election.quorum_minimum_update_weight_before_quorum_checks fails sometimes"
This unit test fails in CI and I can also make it fail on my laptop.
It usually fails within the first few hundred tries.
It fails more on a quiet PC, extra load makes it fail less.

The following assert fails:
ASSERT_TIMELY (10s, !node1.rep_crawler.response (channel, vote2));

My suspicion is that node2 is not always ready to respond.

[2021-10-12 12:14] #3189 closed, assigned to dsiganos

[2021-10-13 17:49] dsiganos opened #3503 "Create a new class of tests, timeout tests"
We are currently not testing timeouts properly because our main test is core_test and adding timeout test in core_test significantly impacts the length of time it runs and we want to keep core_test fairly fast.

So let's create a new set tests, timeout_test to test timeout that take a long time to test and let's run it once a day in CI.

[2021-10-15 00:27] cedvdb commented on #601
While I don't understand fully all the jargon here I would like to know if something like this is deemed correct:

[code]
From the discussion above what I understand is that it won't be possible to have a watch only wallet for nano using bip-44 ?

[2021-10-15 17:38] thsfs commented on #3342
I couldn't spot a problem on this code, despite some segments seeming to be complex with two or three mutexes.

[2021-10-15 17:38] #3342 closed, assigned to thsfs

[2021-10-17 18:59] filipesmedeiros commented on #3457
should this mean something like sending a `null` for that field?

[2021-10-17 19:00] shryder commented on #3457
@filipesmedeiros Not sending it at all sounds better imo

[2021-10-17 19:04] filipesmedeiros commented on #3457
i think sending `null` adds semantic meaning like "i actively wanted to not send this value" whereas not sending it is more of a "i didn't know i should be sending it" or "it's not necessary to send this field in my context". i guess these two meaning would overlap sometimes, but they can also coexist, right?

for `work` in `block_create` i don't which one makes more sense, but it may make sense e

[2021-10-19 15:55] zhyatt opened #3508 "Frontier confirmation stats not used"
The stats for frontier confirmations are listed in possible stat options but don't appear to be used in the code. This includes:

`frontier_confirmation_failed`
`frontier_confirmation_successful`

https://github.com/nanocurrency/nano-node/blob/develop/nano/lib/stats.cpp#L643

These would be helpful stats to have available for monitoring.

[2021-10-20 12:17] #3191 closed, assigned to dsiganos

[2021-10-20 12:17] theohax commented on #3191
Fixed by https://github.com/nanocurrency/nano-node/pull/3275

[2021-10-22 14:21] dsiganos commented on #3111
The intention was that only the first keepalive message sent by a node would have those 2 special entries as a way to advertise the ports that it is listening on.

One of the entries is the  listening IP and port as seen by the node software.
The other entry is the listening IP and port as estimated by UPNP.

The node is sending those special entries even on keepalives that are not the first keepa

[2021-10-22 17:11] dsiganos opened #3513 "Improve windows build infrastructure"
The instructions and infrastructure for building on windows are not very good. It takes too long and there are too many manual steps and too much ambiguity and it takes too long between each manual step. We need to do better. I followed the instructions at build options on nano.org. I did not try to follow the steps taken by the CI build which maybe would been better because at least there would b

[2021-10-22 17:55] zhyatt opened #3514 "Unit test `rpc.wallet_history` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3512/commits/e1d0a51253d19fa725fb30fc84880c89ddc50527

[2021-10-22 17:56] zhyatt opened #3515 "Unit test `node.bootstrap_bulk_push` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3512/commits/e1d0a51253d19fa725fb30fc84880c89ddc50527

[2021-10-22 17:57] zhyatt opened #3516 "Unit test `node.broadcast_elected` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3512/commits/e1d0a51253d19fa725fb30fc84880c89ddc50527

[2021-10-22 17:58] zhyatt opened #3517 "Unit test `bootstrap_processor.push_diamond_pruning` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3512/commits/e1d0a51253d19fa725fb30fc84880c89ddc50527

[2021-10-22 17:59] zhyatt opened #3518 "Unit test `rpc.epoch_upgrade` intermittently failing"
Not yet disabled

[2021-10-22 17:59] zhyatt opened #3519 "Unit test `bulk.genesis_pruning` intermittently failing"
Not yet disabled

[2021-10-22 18:00] zhyatt opened #3520 "Unit test `node.search_pending_pruned` intermittently failing"
Not yet disabled

[2021-10-22 18:00] zhyatt opened #3521 "Unit test `node.vote_by_hash_republish` intermittently failing"
Not yet disabled

[2021-10-22 18:00] zhyatt opened #3522 "Unit test `active_transactions.confirm_active` intermittently failing"
Not yet disabled

[2021-10-24 14:52] tombertrand opened #3523 "Websocket message is missing the `source_account` on receive blocks"
### Summary

When receiving messages from the websocket, a `send` transaction between 2 accounts can easily be identified using the `account` and `link_as_account` fields. The issue is when getting `receive` transaction the receiver can be easily identified from the `account` field but the `link_as_account` field doesn't correspond to the sender. When grabbing the block from RPC I notice the extra

[2021-10-25 12:01] theohax commented on #3522
Now disabled in https://github.com/nanocurrency/nano-node/pull/3512/commits/3a4866a650b20a44b77fbec1d457efb17f52354b

[2021-10-25 13:25] theohax opened #3524 "Unit test `telemetry.remove_peer_different_genesis` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3512/commits/63279ec3694a915d17caeb293f8a7fcd8d83b141

[2021-10-26 11:15] theohax opened #3527 "Unit test `node.fork_invalid_block_signature` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3526/commits/7bf2c426fb69851c7079c29d6ba8551723c7f32a

[2021-10-26 11:18] dsiganos commented on #3527
I do not remember seeing this one before.

[2021-10-26 13:01] theohax opened #3528 "Unit test `election.quorum_minimum_update_weight_before_quorum_checks` intermittently failing"
Disabled in https://github.com/nanocurrency/nano-node/pull/3526/commits/7bf2c426fb69851c7079c29d6ba8551723c7f32a

[2021-10-26 15:51] zhyatt opened #3529 "Add support for branches on artifact workflows"
The `Beta` workflow that produces beta network artifacts (and probably the `Test` and `Live` ones which are similar) doesn't appear to use the selected branch, instead it pulls `develop`. These workflows were intended to be used via tags off the `develop` branch, but having support for running them off other branches would be useful and avoid confusion when attempting to do so.

[2021-10-26 15:53] dsiganos commented on #3529
That description doesn;t make much sense. A tag is a tag and it identifies a specific commit.
There should be no mentioning of branches in that conversation.

[2021-10-26 16:06] zhyatt commented on #3529
The issue is that the UI for running the workflow allows you to select a branch, but in doing so it doesn't appear the workflow is using the selected one, but is instead hardcoded to use the `develop` branch. Although we intend to use it primarily with tags off the `develop` branch, it doesn't restrict you to that one so supporting the use of branches could be done.

If we don't want to support br

[2021-10-26 16:10] dsiganos commented on #3529
We should clone and checkout like this:
[code]

[2021-10-26 16:12] dsiganos commented on #3529
My point is, that it makes no sense to specify both a tag and a branch.
When using a branch, a tag is irrelevant. And using a tag, a branch is irrelevant.
So there should never be a need to specify both.

[2021-10-26 16:22] zhyatt commented on #3529
Ok, so I see the confusion on my end now, thanks @dsiganos . GitHub allows you to select a branch to **run the workflow from** and then separately specifies the **tag to build from**. In the case of the beta build failures the branch to **run the workflow from** was changed to be the branch we wanted to build from, not run the workflow from. And the tag was left as `develop` so the build was from

[2021-10-26 16:23] #3529 closed, assigned to nobody

[2021-10-26 19:47] zhyatt opened #3530 "Remove unnecessary json serializing of config files"
With previous `.json` config files being replaced in V20.0 with `.toml` files, we kept the related `nano::logging::serialize_json` code to support upgrade paths from V19.0 forward. But now that V19.0 is an [inactive release](https://docs.nano.org/releases/node-releases/#inactive-releases) we should verify this serialization code and other code related to processing `.json` config files is removed